Settings.php
Settings_bak.php
db_last_error.php
cache/data*.php
Packages/backups/*
Packages/temp
*.*~
.buildpath
.project
.settings/
/site
nbproject/*
.*.swp
/vendor/*
/build/*
.idea
composer.lock
composer.phar
themes/default/cache/hive*
