Settings.php
Settings_bak.php
db_last_error.txt
cache/data*.php
Packages/backups/*
Packages/temp
smileys/emojitwo/*
!smileys/emojitwo/emojitwo.zip
smileys/noto-emoji/*
!smileys/noto-emoji/noto-emoji.zip
smileys/twemoji/*
!smileys/twemoji/twemoji.zip
attachments/
avatars_user/
!avatars_user/index.php
*.*~
.buildpath
.project
.settings/
/site
nbproject/*
.*.swp
/vendor/*
/build/*
.idea
composer.lock
composer.phar
themes/default/cache/hive*
.github/workflows/*.yaml
populator/
testcases*/