* text eol=lf

# Always convert to LF
*.php text

# Safe is safe...
*.png binary
*.gif binary
*.jpg binary
*.jpeg binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
*.eot binary
*.phar binary
