/* Common admin center classes.
------------------------------------------------------- */
.action_admin .generic_list_wrapper .information {
	border-color: var(--primary_border);
	box-shadow: 0 1px 1px var(--opacity20), 0 2px 2px var(--opacity10);
}

#admin_main_section, .quick_tasks, #mod_main_section,
#support_credits, #admin_newsletters,
#core_features, #entry_form,
#groupForm, #mailqueue_stats, #manage_maintenance,
#new_group, #view_group, #admin_form_wrapper, .action_admin .generic_list_wrapper {
	border-color: var(--primary_border);
	background: var(--content-background);
	box-shadow: 0 -1px 1px var(--opacity20), 0 -2px 2px var(--opacity10);
}

#admin_content .content {
	background: var(--content-background);
	box-shadow: none;
}

.disabled {
	color: var(--disabled_text);
}

#adm_submenus {
	margin-bottom: .5em;
}

/* News and newsletters screen.
---------------------------------------------*/

#admin_newsletters .information {
	border-color: var(--primary_border);
	box-shadow: 0 1px 1px var(--opacity20), 0 2px 2px var(--opacity10);
}

#news_lists .newspreview div {
	border-color: var(--primary_border);
}

#welcome {
	border-color: var(--secondary_border);
}

.search_results li {
	border-bottom-color: var(--primary_border_bottom);
}

.search_results li a strong {
	color: var(--strong_text);
}

#admin_main_section .content {
	border-color: var(--primary_border);
	border-top-color: var(--primary_border_top);
	border-bottom-color: var(--primary_border_bottom);
	background: var(--content-background);
	box-shadow: 0 1px 1px var(--opacity30), 0 -1px 1px var(--opacity30)
}

#live_news div.content dl {
	color: var(--dark_text);
}

#ourAnnouncements dt {
	border-top-color: var(--top_section_top_border);
}

#ourAnnouncements dt a {
	color: var(--title);
}

#ourAnnouncements dd {
	border-top-color: var(--primary_border_top);
}

.quick_tasks {
	background: var(--content-background);
	box-shadow: none;
}

#quick_tasks li {
	border-top-color: var(--primary_border_top);
	border-bottom-color: var(--primary_border_bottom);
}

/* Styles for the package manager.
------------------------------------------------- */

#package_list li {
	border-color: var(--secondary_border);
}

#find_code, #replace_code {
	border-top-color: var(--secondary_border_top);
	border-bottom-color: var(--secondary_border_bottom);
	background: var(--content-background);
}

/* Styles for the D&D indicators
------------------------------------------------- */

#sort_email_fp td:nth-child(2):before,
#custom_profile_fields td:nth-child(2):before,
#message_icon_list td:nth-child(1):before,
#manage_boards li .floatleft:before {
	color: var(--footer_text);
}

/* Styles for the manage boards section.
------------------------------------------------- */

#manage_boards .content > ul {
	border-color: var(--primary_border);
	box-shadow: 1px 1px 1px var(--opacity20), 2px 1px 1px var(--opacity10)
}

#manage_boards ul li {
	border-top-color: var(--secondary_border);
}

#manage_boards .post_group, #manage_boards .regular_members {
	border-bottom-color: var(--secondary_border_bottom);
}

/* Indeed ugly, but will allow 4 level deep board nesting stripping to work */
#manage_boards li:nth-child(even),
#manage_boards li:nth-child(even) > li:nth-child(odd),
#manage_boards li:nth-child(even) > li:nth-child(odd) > li:nth-child(even),
#manage_boards li:nth-child(even) > li:nth-child(odd) > li:nth-child(even) > li:nth-child(odd) {
	background: var(--primary_white_compliment);
}

#manage_boards li:nth-child(odd),
#manage_boards li:nth-child(odd) > li:nth-child(even),
#manage_boards li:nth-child(odd) > li:nth-child(even) > li:nth-child(odd),
#manage_boards li:nth-child(odd) > li:nth-child(even) > li:nth-child(odd) > li:nth-child(even) {
	background: var(--primary_white);
}

/* Styles for the manage maintenance section.
------------------------------------------------- */

#manage_maintenance div.content {
	border-bottom-color: var(--primary_border_bottom);
	background: none;
	box-shadow: 0 1px 0 var(--box_shadow);
}

/* Styles for the manage membergroups.
------------------------------------------------- */

.select_category, .select_all_box {
	border-top-color: var(--primary_border_top);
	border-bottom-color: var(--primary_border_bottom);
}

/* Styles for the manage permissions section.
------------------------------------------------- */

.perm_boards li {
	border-color: var(--secondary_border);
}

.perm_groups {
	background-color: var(--content-background);
}

/* Styles for the moderation center.
------------------------------------------------- */
#modcenter {
	background: none repeat scroll 0 0 var(--content-background);
	box-shadow: 1px 2px 3px var(--box_shadow);
}

#modcenter .content, #modcenter .generic_list_wrapper {
	border-color: var(--primary_border);
	border-bottom-color: var(--primary_border_bottom);
	background: var(--content-background);
}

#mod_main_section .content {
	border-color: var(--primary_border);
	border-top-color: var(--primary_border_top);
	border-bottom-color: var(--primary_border_bottom);
	background: var(--content-background);
	box-shadow: 0 2px 2px var(--opacity50), 0 -1px 2px var(--opacity10);
}

.moderation_notes li {
	border-bottom-color: var(--primary_border_bottom);
}

/* Styles for the Report generation
------------------------------------------------- */

.report_results th {
	border-right-color: var(--primary_border);
	border-left-color: var(--primary_border_left);
}

/* alternate row colors on Modify Themes,Copy a template */
.theme_options .content:nth-child(even), .theme_options li:nth-child(even) {
	border-top-color: var(--primary_border_top);
	border-bottom-color: var(--primary_border_bottom);
	background: #FEFEFE;
}

.theme_options .content:nth-child(odd) {
	background: var(--content-background)
}

#css_preview_box {
	border-color: var(--secondary_border);
}

/* jQuery Dialog
------------------------------------------------- */

.ui-dialog {
	border-color: #999999;
	background-color: #F4F4F4;
	box-shadow: 0 0 16px var(--opacity30);
}

.ui-dialog .ui-dialog-titlebar {
	background-color: var(--content-background);
}

.ui-widget-overlay {
	opacity: 0.6;
	background-color: var(--dark_grey_background);
}

/* This is the drag/drop placeholder, normally not visible */
.ui-state-highlight {
	border-color: var(--pure_green) !important;
	background-color: var(--content-background) !important;
}

.sortable_smiley {
	border-bottom-color: var(--primary_border_bottom)
}
