/* Common admin center classes.
------------------------------------------------------- */

.action_admin .generic_list_wrapper .information {
	border: 1px solid #CCCCCC;
	border-radius: 2px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

#admin_main_section, .quick_tasks, #mod_main_section,
#support_credits, #admin_newsletters,
#core_features,
#groupForm, #mailqueue_stats, #manage_maintenance,
#new_group, #view_group, #admin_form_wrapper, .action_admin .generic_list_wrapper {
	background: #EEEEEE;
	border: 1px solid #CCCCCC;
	border-radius: 7px;
	box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);
}

#admin_content .content  {
	background: #EFEFEF;
	border: none;
	box-shadow: none;
}

.disabled {
	color: #888888;
}

/* News and newsletters screen.
---------------------------------------------*/
#admin_newsletters .information {
	border: 1px solid #CCCCCC;
	border-radius: 2px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

#advanced_panel_header {
	background: #FEFEFE;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	border: 1px solid #CCCCCC;
	border-radius: 2px;
}

#welcome {
	border: 1px solid #DDDDDD;
	border-top: none;
	border-radius: 0 0 7px 7px;
}

.search_results li {
	border-bottom: double #CCCCCC;
}

.search_results li a strong {
	color: #686868;
}

#admin_main_section .content {
	border: 1px solid #CCCCCC;
	border-top: 1px solid #BBBBBB;
	border-bottom: 1px solid #DDDDDD;
	border-radius: 0;
	background: #FEFEFE;
	box-shadow: 0 2px 2px rgba(255, 255, 255, 0.5), 0 -1px 2px rgba(0, 0, 0, 0.1);
}

#live_news div.content dl {
	color: #111111;
}

#ourAnnouncements dt {
	border-top: 1px solid #377828;
}

#ourAnnouncements dt a {
	color: #377828;
}

#ourAnnouncements dd {
	border-top: double #DDDDDD;
}

.quick_tasks {
	margin: -8px 0 0 0;
	border-radius: 7px;
	box-shadow: none;
	padding: 0 0 16px 0;
	background: #FEFEFE;
}

#quick_tasks li {
	border-top: 1px solid #FEFEFE;
	border-bottom: 1px solid #BBBBBB;
}

#quick_tasks li:first-child, #quick_tasks li:nth-child(2) {
	border-top: none;
}

#quick_tasks li:last-child, #quick_tasks li:nth-child(7) {
	border-bottom: none;
}

/* Styles for the package manager.
------------------------------------------------- */
#package_list li {
	border: 1px solid #A9CCD1;
}

#find_code, #replace_code {
	background: #EEEEEE;
	border-top: 2px solid #999999;
	border-bottom: 2px solid #999999;
}

/* Styles for the manage boards section.
------------------------------------------------- */

#manage_boards .category_header {
	border-bottom: 1px solid #BBBBBB;
}

#manage_boards .content, #manage_attachments .content {
	background: #EEEEEE;
	border: 1px solid #CCCCCC;
	border-top: 0 solid;
	border-radius: 0 0 4px 4px;
}

.ui-state-highlight {
	background-color: #EEFFEE;
	border: 1px dashed green;
}

#manage_boards .recycle_board {
	background-color: #D9EDF7;
}

#manage_boards span.modify_boards a {
	background: #FEFEFE;
	border: 1px solid #AFAFAF;
	border-radius: 3px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	color: #222222;
}

#manage_boards span.modify_boards a:hover {
	background: #FEFEFE;
	color: #444444;
	box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
}

#manage_boards .post_group, #manage_boards .regular_members {
	border-bottom: 1px dotted #000000;
}

/* Styles for the manage maintenance section.
------------------------------------------------- */
#manage_maintenance div.content {
	background: none;
	border-bottom: 1px solid #CCCCCC;
	box-shadow: 0 1px 0 #FEFEFE;
}

/* Styles for the manage membergroups.
------------------------------------------------- */
.select_category, .select_all_box {
	font-style: italic;
	border-top: 1px dashed #CCCCCC;
	border-bottom: 1px dashed #CCCCCC;
}

/* Styles for the manage permissions section.
------------------------------------------------- */
.perm_boards li {
	border: 1px solid #A9CCD1;
}

.perm_groups {
	background-color: #FEFEFE;
}

/* Styles for the moderation center.
------------------------------------------------- */
#modcenter {
	background: none repeat scroll 0 0 #DEEDDA;
	border-radius: 5px 5px 0 0;
	box-shadow: 1px 2px 3px #EEEEEE;
}

#modcenter .content, #modcenter .generic_list_wrapper {
	border: 1px solid #DDDDDD;
	border-bottom: 1px solid #CCCCCC;
	background: #FEFEFE;
}

#mod_main_section .content {
	border: 1px solid #CCCCCC;
	border-top: 1px solid #BBBBBB;
	border-bottom: 1px solid #DDDDDD;
	border-radius: 0;
	background: #FEFEFE;
	box-shadow: 0 2px 2px rgba(255, 255, 255, 0.5), 0 -1px 2px rgba(0, 0, 0, 0.1);
}

.moderation_notes li {
	border-bottom: 1px solid #CCCCCC;
}

/* Styles for the error log.
------------------------------------------------- */

#error_log {
	border-top: 1px solid #DDDDDD;
}

#error_log .error_where {
	border-top: 1px solid #E4E4E4;
}

#errorfile_table {
	background-color: #FEFEFE;
}

/* Styles for the Report generation
------------------------------------------------- */
.report_results th {
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}

/* jQuery Dialog
------------------------------------------------- */
.ui-dialog {
	border: 1px solid #999999;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
	background-color: #F4F4F4;
	border-radius: 4px 4px 0 0;
}

.ui-dialog .ui-dialog-titlebar {
	background-color: #FAFAFA;
	border-radius: 4px 4px 0 0;
}

.ui-widget-overlay {
	background-color: #000000;
	opacity: 0.3;
}

/* alternate row colors on Modify Themes,Copy a template */
.theme_options .content:nth-child(even), .theme_options li:nth-child(even) {
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}

.theme_options .content:nth-child(even), .theme_options li:nth-child(even) {
	background: #FEFEFE;
}

.theme_options .content:nth-child(odd) {
	background: #EEEEEE;
}