/* Common admin center classes.
------------------------------------------------------- */

/* Special styling for admin descriptions. */
.action_admin .generic_list_wrapper .information {
	margin: .5em 0;
	padding: .25em .75em .25em 1em;
	border: 1px solid;
	border-radius: 2px;
}

.action_admin .generic_list_wrapper .information div {
	background: none;
}

.information a {
	font-weight: bold;
}

.action_admin .generic_list {
	overflow: auto;
}

#admin_content .content {
	margin-bottom: .4em;
	border: none;
}

.admincenter {
	overflow: auto;
}

.admincenter .content {
	padding: .8em 0;
}

.admincenter .content .settings {
	padding: .25em 2.75em 0 2.75em;
}

/* pull the help icon to the gutter so text remains aligned */
.admincenter .content .settings a.helpicon {
	margin-left: -1.75em;
	vertical-align: text-bottom;
}

.admincenter .content hr.clear {
	margin-left: .8em;
}

/* @todo - A general admin wrapper class. */
#admin_main_section, .quick_tasks, #mod_main_section,
#support_credits, #admin_newsletters,
#core_features, #entry_form,
#groupForm, #mailqueue_stats, #manage_maintenance,
#new_group, #view_group, #admin_form_wrapper, .action_admin .generic_list_wrapper {
	overflow: auto;
	margin: .8em 0 0 0;
	padding: .5em;
	border: 1px solid;
	border-radius: 6px;
}

#new_group .content, #view_group .content, #admin_newsletters .content {
	background: none;
}

#mailqueue_stats .content {
	background: none;
}

/* Maillist pages */
.listaction {
	text-align: center;
}

.listaction img {
	width: 16px;
	height: 16px;
}

/* News and newsletters screen. */
#admin_newsletters .information {
	margin: .5em 0;
	border: 1px solid;
	border-radius: 2px;
}

#news_lists .newsarea {
	width: 50%;
}

#news_lists .newsarea textarea {
	width: 100%;
	min-height: 8em;
	padding: 0 2px;
}

td.newspreview {
	vertical-align: top;
}

#news_lists .newspreview div {
	overflow: auto;
	min-height: 8em;
	resize: vertical;
	border: 1px solid;
}

/*-------------------------------------------*/
.action_admin .generic_list .flow_auto {
	padding: 4px 2px;
}

h3.category_header form {
	font-size: .786em;
}

.content.nopadding {
	margin: 4px 0 0 0;
	padding: 0;
}

.content ol {
	margin-top: 0;
	margin-bottom: 0;
}

.table_caption, tr.table_caption td {
	font-weight: bold;
}

.additional_row div.floatleft {
	padding: 0 10px;
}

/* Styles for the admin home screen. */
#quick_search {
	margin-top: -2px;
}

#quick_search .icon {
	margin: 4px 0 0 0;
}

.admincenter .well, #modcenter .well {
	overflow: visible;
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	box-shadow: none;
}

.search_results {
	margin: 0 -6px;
}

.search_results li {
	overflow: auto;
	padding: .4em 0;
	border-bottom: double;
}

.search_results li p {
	line-height: 1.7;
	padding: 0 1.5em;
}

#installedVersion, #latestVersion {
	white-space: nowrap;
}

.censorWords {
	margin: 1em 0 0 1em;
}

/* Cleaned this up a bit for less clutter.
   Admin and moderation could generally do with a clean up everywhere.
   Live news from elkarte.net and support information. */
#admin_main_section {
	margin: 12px 0 20px 0;
	padding: 8px 8px 4px 8px;
}

#live_news {
	width: 65%;
}

#supportVersionsTable {
	width: 35%;
	padding-left: 6px;
}

#admin_main_section .content {
	overflow: auto;
	height: 12em;
	padding: 6px 0;
	border: 1px solid;
	border-radius: 0;
}

#admin_search_box {
	padding: 0.5em 0;
}

#live_news .content, #supportVersionsTable .content {
	padding: 0 .5em;
}

#ourAnnouncements dt {
	font-size: var(--font14);
	border-top: 1px solid;
}

#ourAnnouncements dt a {
	font-weight: bold;
	display: block;
}

#ourAnnouncements dd {
	margin: 0;
	padding: 0 .8em;
	border-top: double;
}

/* The update warning. */
#update_section {
	margin: 6px 0;
}

/* Links to handy sections of admin.
----------------------------------*/
/* The <li>'s here have been set to a height in em with hidden overflow.
   Yes, this will clip the blurb when using very large font sizes on a narrowish screen.
   However, more than enough content is still available for clarity,
   and the advantage is that a clean layout is always maintained.
   The <li>'s could be set to auto overflow instead, but that just clutters things up with scrollbars.
   Scrollbars here look worse, take up space, and don't really add anything useful in this context. */

#quick_tasks li {
	float: left;
	overflow: auto;
	width: 50%;
	height: 8em;
	padding: 10px 6px 10px 6px;
	list-style: none;
	border-top: 1px solid;
	border-bottom: 1px solid;
}

#quick_tasks li a {
	line-height: 1.6em;
}

.home_image {
	float: left;
	margin: 2px 10px;
}

#quick_tasks li span {
	display: block;
	margin: 0 0 0 70px;
}

#quick_tasks li:first-child, #quick_tasks li:nth-child(2) {
	border-top: none;
}

#quick_tasks li:last-child, #quick_tasks li:nth-child(7) {
	border-bottom: none;
}

/* Styles for the support and credits page.
   Hey, people might actually want to put their names on it now!
   Only a couple of trivial markup hacks that wont break any mods or themes.
   The older I get, the more devious I get. :D
   Nobody ever themes admin anyway. That's why it looked like crap. */
#support_credits {
	position: relative;
	padding: .5em .8em .8em .8em;
}

#credits_logo {
	position: absolute;
	top: 12px;
	right: 16px;
	max-height: 30px;
}

#support_credits .content p {
	margin: .8em 0 0 0;
}

#support_credits dl {
	padding: 0 .5em;
}

#support_credits dt {
	float: left;
	padding: .5em 0.8em 0 0;
}

#support_credits dd {
	padding: 6px 0;
}

/* Styles for the core features screen. */
#core_features {
	padding: 1.5em 0;
}

#core_features hr {
	margin: .25em 0 .8em 0;
	padding: 0;
}

#core_features .features {
	float: left;
	overflow: auto;
	width: 50%;
	padding: 0 .8em;
}

.core_features_status_box {
	margin-left: .4em;
	vertical-align: middle;
}

.core_features_img {
	width: 2.5em;
	height: 2.5em;
}

/* Keep your enemies close, and your submit buttons if your screen is huge. */
.features_image {
	float: left;
	margin: 0 .4em;
}

.features_switch {
	float: right;
}

.features h3 {
	overflow: hidden;
	min-height: 1.6em;
	max-height: 1.6em;
	margin: 0 .5em 0 6em;
	padding: 0;
	white-space: pre;
	text-overflow: ellipsis;
}

.features p {
	overflow: auto;
	height: 9em;
	margin: 0 4em 0 6em;
	padding: 0;
}

#private {
	width: 100%;
}

/* Styles for the package manager. */
#package_list ol {
	margin-left: 1.25em;
	list-style: decimal;
	border: none;
}

#package_list, .package_section {
	list-style-type: none;
}

.package_section > ul {
	margin-left: 5em;
}

#package_list li {
	font-weight: 600;
	padding: 0.2em;
	border: 1px solid;
}

#package_list > li {
	margin-bottom: 1em;
	border-radius: 6px;
}

.package_id {
	font-weight: bold;
	display: inline-block;
	width: 35%;
	min-width: 20em;
}

.description, .information {
	overflow: auto;
	max-height: 16em;
	margin-bottom: .4em;
	padding-bottom: .5em;
}

#find_code, #replace_code {
	font-family: "dejavu sans mono", "monaco", "lucida console", "courier new", monospace;
	font-size: var(--font14);
	display: block;
	overflow: auto;
	height: 10em;
	margin: .1em 0 .4em 0;
	padding: .25em .8em;
	/* Show a scrollbar after about 6 lines. */
	/* This is much better than the old max-height css. */
	resize: vertical;
	white-space: nowrap;
	border-top: 2px solid;
	border-bottom: 2px solid;
}

ul.package_servers {
	margin: 0;
	padding: 0;
}

ul.package_servers li {
	list-style-type: none;
}

.file_content {
	overflow: auto;
	width: 100%;
	padding-bottom: 1em;
}

.operation {
	padding: 0 1em;
}

/* Styles for the language edit strings page. */
.strings_edit li {
	display: inline-block;
	width: 49%;
	vertical-align: top;
}

.strings_edit textarea {
	display: block;
	width: 100%;
}

/* Styles for anti-spam questions. */
.settings dt.questions {
	width: 65%;
	margin: 0;
}

.settings dd.questions {
	width: 35%;
}

.settings dt.questions input {
	width: 80%;
}

.settings dd.questions input {
	width: 90%;
}

/* Styles for the BBC permissions */
.list_bbc {
	column-count: 3;
}

/* Styles for the manage attachments section. */
#attach_paths .input_text, #base_paths .input_text {
	width: 100%;
}

/* Styles for the manage boards section. */
#manage_boards .content > ul {
	padding: .5em;
	border: 1px solid;
	border-radius: 4px;
}

#manage_boards ul li:nth-child(n+2) {
	border-top: 1px solid;
}

#manage_boards .content > ul > li {
	padding: 0 .5em;
}

#manage_boards ul:nth-child(n+2) li {
	padding-left: 2em;
	border: none;
}

/* This is the UL drop zone, normally not visible */
#manage_boards ul.elk_droppings:nth-child(n+1) {
	min-height: 1em;
	padding-left: 2em !important;
}

#manage_boards li, #manage_boards li.content {
	line-height: 2;
	list-style: none;
}

#manage_boards li img {
	vertical-align: middle;
}

#manage_boards li .floatleft {
	font-size: var(--font15);
	font-weight: bold;
	width: 60%;
	margin: .5em 0 0 0;
	padding: 0 .4em;
	cursor: move;
}

#manage_boards li .floatright {
	margin: .5em 0 0 0;
}

.move_links {
	padding: 0 1em 0 0;
}

/* Move, Permissions, etc buttons */
#manage_boards span.modify_boards a {
	padding: 0 .4em;
	text-transform: capitalize;
}

#manage_boards dl {
	padding: 8px 6px 0 6px;
}

#manage_boards dl textarea, #manage_boards dl table {
	margin: 0 0 8px 0;
}

#manage_boards .post_group, #manage_boards .regular_members {
	cursor: help;
	border-bottom: 1px dotted;
}

.select_all_box {
	margin-top: 0.5em;
	padding: 2px 2px 5px 2px;
}

.visible_boards .board label,
.select_all_box label,
.select_category label {
	display: inline-block;
	width: 32%;
}

.select_category, .select_all_box {
	font-style: italic;
	border-top: 1px dashed;
	border-bottom: 1px dashed;
}

.visible_boards .select_all_box .floatright,
.visible_boards .select_category .floatright,
.visible_boards .board .floatright {
	width: 55%;
}

.visible_boards .category:after, .visible_boards .board:after {
	display: block;
	clear: both;
	content: "";
}

.visible_boards li {
	padding: .1em;
}

/* Styles for the manage smiley section. */
#smiley_list .imagecolumn {
	padding: .5em .8em;
}

/* Styles for the manage members section. */
.msearch_details {
	display: block;
	width: 50%;
}

.right dt {
	padding-right: .8em;
}

/* Styles for the manage maintenance section. */
#membersText, #rotText {
	font-weight: bold;
}

/* Styles for the bad behaviour section. */
.bbfilter {
	display: table-cell;
	width: 20px;
	padding: 4px 0;
	vertical-align: top;
}

.bbrequest_uri {
	display: table-cell;
}

/* Stop the submit buttons running away on wide screens.*/
#manage_maintenance form {
	margin: 0 .8em;
}

#manage_maintenance .settings {
	margin: 1em 0 0 0;
}

#manage_maintenance h3 a.help .icon {
	padding: .25em 0 0;
}

#manage_maintenance .content {
	border-bottom: 1px solid;
}

/* Styles for the add holidays manage calendar section. */
.settings dt.small_caption {
	width: 20%;
}

.settings dd.small_caption {
	width: 80%;
}

/* Styles for the manage permissions section. */
#permissionForm .table_grid {
	width: 100%;
}

#permissionForm .table_grid img.icon {
	width: 16px;
	vertical-align: top;
}

.admin_permissions dt {
	width: 35%;
}

.admin_permissions dd {
	width: 65%;
}


/* Styles for the manage search section. */
.large_caption > dt {
	width: 70%;
}

.large_caption > dd {
	width: 30%;
}

.search_weight {
	width: 40px;
	padding: 0 0.5em;
	text-align: right;
}

.search_settings {
	float: left;
	overflow: auto;
	width: 49%;
	margin: 0 0.5em 1em 0.5em;
}

/* Styles for the manage bans section. */
/* @todo this is as far as I can go without loosing my mind */
.ban_restriction {
	margin: 0.2em 0 0.2em 2.2em;
}

.ban_settings {
	width: 46%;
}

.ban_text {
	min-width: 50%;
	max-width: 99%;
	min-height: 64px;
	max-height: 64px;
}

#manage_bans dl {
	margin-bottom: 1em;
}

#manage_bans fieldset dl.settings {
	margin-bottom: 0;
}

/* Styles for the manage subscriptions section. */
#fixed_area {
	width: 97%;
}

.pending_payments {
	line-height: 2em;
	margin: 0;
	padding: 0;
}

/* Styles for the manage permissions section. */
.perm_name, .perm_profile, .perm_board {
	display: block;
	width: 40%;
}

.perm_boards {
	margin: 0 0 0.6em 0;
	padding: 0;
}

.perm_boards li {
	margin: 1px;
	padding: 0.3em 0.5em;
	border: 1px solid;
}

.perm_classic {
	width: 49%;
	margin: 0.2em;
}

.permission_groups {
	margin: 0;
	padding: 0;
}

#manage_boards .permission_groups li {
	padding-top: 1px;
	list-style-type: none;
}

#manage_boards ul.permission_groups {
	margin-bottom: 0;
}

#manage_boards ul.nolist:not(:first-child) {
	margin-left: 2em;
}

.perms {
	display: inline-block;
	width: 20px;
	text-align: center;
}

.perm_profile_delete {
	width: 5%;
}

/* Styles for the themes section. */
ul.theme_options, ul.basic_options {
	margin: 0;
	padding: 0;
}

ul.theme_options li, ul.basic_options li {
	padding: 0.4em;
	list-style: none;
}

.edit_file {
	font-family: monospace;
	width: 100%;
	margin-top: 1ex;
	white-space: pre;
}

dl.themes_list {
	margin: 0;
}

dl.themes_list dt {
	margin-top: 5px;
	margin-bottom: 3px;
}

dl.themes_list dd {
	font-style: italic;
	margin-top: 5px;
	white-space: nowrap;
}

.theme_options dt {
	width: 55%;
}

.theme_options dd {
	width: 40%;
}

/* Theme Management>Member Options>Change Current Options
   Adjusts display of wording and selections to one line.*/
#admin_form_wrapper .theme_options dt {
	float: left;
	clear: both;
	width: 55%;
	margin: 0 0 10px 0;
	padding: 0;
}

#admin_form_wrapper .theme_options dd {
	float: right;
	overflow: auto;
	width: 45%;
	min-height: 2em;
	margin: 0 0 3px 0;
	padding: 0;
}

#admin_form_wrapper .input_check, .input_radio {
	margin: 0 2px 4px 4px;
	vertical-align: top;
	border: none;
	background: none;
}

/* alternate row colors on Modify Themes,Copy a template */
.theme_options .content:nth-child(even), .theme_options li:nth-child(even) {
	border-top: 1px solid;
	border-bottom: 1px solid;
}

.theme_settings .input_text {
	width: 30em;
	max-width: 100%;
}

#css_preview_box {
	display: none;
	width: 99%;
	height: 300px;
	margin-bottom: 2ex;
	border: 1px solid;
}

/* Styles for the registration center */
.agreement, .reserved_names {
	padding: 0;
}

#agreement, #reserved {
	width: 99%;
	padding: 0 .25em;
}

/* Styles for the moderation center. */
#modcenter {
	display: block;
	width: 100%;
	border-radius: 5px 5px 0 0;
}

#modcenter .content, #modcenter .generic_list_wrapper {
	overflow: visible;
	margin: 2px 0 0 0;
	border: 1px solid;
}

#modcenter .content {
	padding: 12px;
}

#mod_main_section .content {
	overflow: auto;
	height: 14em;
	padding: 6px;
	border: 1px solid;
	border-radius: 0;
}

.modblock_left {
	float: left;
	clear: right;
	width: 50%;
	padding: 0 5px 0 0;
}

.modblock_right {
	float: right;
	width: 50%;
	margin: 0 0 5px 0;
}

.modblock_left #ourAnnouncements {
	overflow: visible;
	height: 15em;
}

.modbox img.icon {
	margin: 3px 5px 0 0;
	vertical-align: text-top;
}

/* Moderation Notes */
.moderation_notes {
	overflow: auto;
	height: auto;
	margin: 0;
	padding: 0;
	list-style: none;
}

.moderation_notes li {
	padding: 0.2em;
	border-bottom: 1px solid;
}

.notes {
	margin-top: 0.4em;
}

.post_note {
	width: 85%;
}

/* Styles for the error log. */
.grid_header {
	height: 25px;
}

#error_log {
	width: 100%;
	border-top: 1px solid;
}

#error_log tr {
	line-height: 160%;
	padding: 8px;
}

#error_log .checkbox_column {
	width: 15px;
	text-align: center;
	vertical-align: top;
}

.listlevel2 .linklevel2 > .icon {
	margin: 0 .5em 0 0;
}

/* Styles for the Report generation */
#report_buttons {
	display: flex;
	align-items: center;
	padding: .5em 0 0 0;
}

.report_results th {
	line-height: 2;
	border-right: 1px solid;
	border-left: 1px solid;
}

.sortable_smiley li {
	display: inline;
	padding: 0 6px;
}

.sortable_smiley {
	margin-top: 3px;
	border-bottom: 1px solid;
}

.pagelink, .current_page, .expand_pages {
	border: 0;
	background-color: transparent;
}

/* Drag sort lists show the move cursor and up/down arrow content */
#sort_email_fp td, #custom_profile_fields td:nth-child(2), #message_icon_list td:nth-child(-n+3) {
	cursor: move;
}

#message_icon_list img {
	vertical-align: middle;
}

/* Styles for the D&D indicators */
#sort_email_fp td:nth-child(2):before,
#custom_profile_fields td:nth-child(2):before,
#message_icon_list td:nth-child(1):before,
#manage_boards li .floatleft:before {
	font-size: 1.071em;
	margin-top: 1px;
	padding-right: 5px;
	content: "\2195";
}

#custom_profile_fields td:nth-child(2):before {
	float: left;
	margin-top: 0.3em;
}

/* jQuery Dialog Box */
.ui-helper-clearfix:before, .ui-helper-clearfix:after {
	display: table;
	border-collapse: collapse;
	content: "";
}

.ui-helper-clearfix:after {
	clear: both;
}

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
	display: table;
	border-collapse: collapse;
	content: "";
}

.ui-sortable li > a {
	cursor: move;
}

.ui-state-highlight {
	height: 2em;
	cursor: move;
	border: 2px dashed;
}

/* jQuery Dialog */
.ui-dialog {
	z-index: 100;
	padding: 0;
	border: 1px solid;
	border-radius: 4px 4px 0 0;
}

.ui-dialog .ui-dialog-title {
	float: left;
	overflow: hidden;
	width: 90%;
	margin: 0.5em 0;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.ui-dialog .ui-dialog-titlebar {
	font-size: 1.071em;
	font-weight: bold;
	padding: 0 1em;
	border-radius: 4px 4px 0 0;
}

.ui-dialog .ui-dialog-content {
	padding: 4px;
}

.ui-dialog .ui-dialog-titlebar-close {
	float: right;
	width: 22px;
	height: 22px;
	margin: 0.5em 0;
	cursor: pointer;
	border: 0;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='-4 -4 40 40'%3E%3Cpath d='M31.708 25.708L22 16l9.708-9.708c.105-.105.18-.227.23-.357.132-.356.056-.77-.23-1.057L27.122.292c-.286-.286-.702-.36-1.057-.23-.13.05-.252.125-.357.23L16 9.998 6.292.29C6.187.188 6.065.11 5.935.064c-.356-.133-.77-.057-1.057.23L.292 4.877c-.286.286-.36.702-.23 1.057.05.13.125.252.23.357L10 16 .292 25.708c-.104.105-.18.227-.23.357-.132.355-.056.77.23 1.057l4.586 4.586c.286.286.702.36 1.057.23.13-.05.252-.125.357-.23L16 22l9.708 9.708c.105.105.227.18.357.23.356.132.77.056 1.057-.23l4.586-4.586c.286-.286.362-.702.23-1.057-.05-.13-.125-.252-.23-.357z'/%3E%3C/svg%3E");
}

.ui-button-icon-only {
	width: 2em;
	white-space: nowrap;
	text-indent: -9999px;
}

.ui-dialog .ui-dialog-titlebar-close .ui-button-text {
	display: none;
}

.ui-widget-overlay {
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* This one does 800 screens at default font size.
   -------------------------------------------------------------------------------------------*/
@media screen and (max-width: 50em) {
	#quick_tasks li {
		height: 12em;
	}
}

/* This one does 540 and smaller screens at default font size.
   -------------------------------------------------------------------------------------------*/
@media screen and (max-width: 34em) {
	body {
		padding: 0;
	}

	.visible_boards .select_all_box {
		display: block;
	}

	.visible_boards label {
		display: inline;
		width: auto !important;
	}

	#quick_search .input_text {
		max-width: 11em;
	}

	#adm_submenus {
		flex-wrap: wrap;
	}

	#quick_tasks li {
		float: none;
		width: 100%;
		height: auto;
	}

	#wrapper, #footer_section .frame {
		min-width: 100%;
	}

	#main_content_section {
		padding: 0 10px;
	}

	/* Level 1 button background. */
	.dropmenu li {
		line-height: 3.2em;
	}

	.dropmenu li ul {
		top: 3.45em;
	}

	.dropmenu li li a {
		line-height: 3.2em;
	}

	#live_news, #supportVersionsTable {
		width: 100%;
	}

	#live_news {
		margin: 0 0 6px 0;
	}

	#supportVersionsTable {
		padding: 0;
	}

	#quick_tasks ul li span {
		display: block;
		margin: 0 0 0 50px;
	}

	.description, .information {
		max-height: unset;
	}

	#credits_page {
		padding-top: 35px;
	}

	#credits_page img {
		right: 6px;
	}

	#core_features .features_image {
		display: none;
	}

	#core_features .features_switch {
		margin: -24px 0 0 5px;
	}

	#core_features .features h4 {
		padding: 0 0 10px 0;
	}

	#core_features .features p {
		overflow: auto;
		min-height: 0;
		max-height: 5em;
		margin: 0;
		padding: 0;
	}

	#manage_boards .content {
		line-height: 3.2em;
	}

	#manage_boards ul {
		max-height: 120em;
		padding: 0 0 10px 0;
	}

	#manage_boards dd, #manage_boards dt {
		width: 100%;
	}

	#manage_boards dt {
		line-height: 1.6em;
	}

	.perm_classic {
		width: 100%;
	}
}