/* This is css file for the green color variant */

@import url(http://fonts.googleapis.com/css?family=Piedra);

body {
	background-color: #e9e9e9;
	margin-top: 32px;
}
#wrapper {
	background-color: #fff;
}
#logo {
	float: right;
	text-align: right;
	margin-top: 0;
}

.cat_bar {
	background-color: #E9E9E9;
	color: white;
}
.cat_bar {
	border-bottom: 1px solid #ccc;
	border-radius: 0;
}
h1.forumtitle {
	padding: 16px 10px 6px 12px;
	text-shadow: -1px 0 white, 0 1px white,
      1px 0 white, 0 -1px white, #c0c0c0 2px 2px 9px;
}

h1.forumtitle a:hover {
	text-decoration: none;
}
h1.forumtitle a {
	color: #70963E;
	font-weight: bold;
	font-size: 1.4em;
	font-family: 'Piedra', sans-serif;
	background: radial-gradient(ellipse at center, #aaa 0%,#e9e9e9 69%);
}

#footer_section {
	background-color: white;
	color: #222;
	border-top: 1px solid #ccc;
}
#footer_section a:link, #footer_section a:visited, #footer_section a:active {
	color: #444;
}
#footer_section ul li {
	text-align:center;
}

#top_section {
	font-weight: normal;
	color: #222;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 98;
}
.unread_links {
	position: fixed;
	top: 3px;
	left: 40%;
	z-index: 99;
}

#header .frame {
	background-color: #325D72;
}
#header {
	margin-bottom: 10px;
}

#content_section, #inner_section {
	border-radius: 0;
}


#inner_section {
	padding: 0;
	padding-bottom: 5px;
	padding-top: 5px;
}
#content_section {
	padding-top: 10px;
}

#header {
	padding: 5px 2px 12px 2px;
}

#upper_section {
	background-color: #fff;
	border: 1px solid #b8b8b8;
	border-bottom: 0;
	padding: 5px;
	color: #333333;
	border-radius: 0;
}
.table_list .info .subject{
	color: #809262;
	font-size: 1.2em;
	font-weight: bold;
}

#main_menu {
	margin-top: 5px;
	background-color: #7CB229;
	padding-top: 4px;
	padding-bottom: 4px;
	box-shadow: 0 16px 20px rgba(255,255,255,0.15) inset;
}
#upshrink {
	border: none;
	background: none;
}
.topmenu li {
	border-right: 1px solid #eee;
	padding-right: 10px;
}
.topmenu li ul {
	border-radius: 6px;
	background-color: #fafafa;
}

.topmenu li a {
	background: none;
	padding: 0 0.3em;
	margin: 0;
	display: block;
	border: none;
	color: #fff;
	border-radius: 5px;
}
.topmenu li a:hover, .topmenu li:hover a, .topmenu li a:focus {
	border: none;
	color: #444;
	cursor: pointer;
	text-decoration: none;
	box-shadow: none;
}
/* Level 1 active button. */
.topmenu li a.active:hover, .topmenu li:hover a.active {
	border: none;
	color: #444;
	box-shadow: none;
	text-shadow: none;
}
.topmenu li a.active {
	border: none;
	box-shadow: none;
	color: #444;
	font-weight: normal;
}
.dropmenu li li:hover, .adm_section .dropmenu li li:hover {
	border: 1px solid transparent;
}
.dropmenu li li:hover>a, .dropmenu li li.sfhover a:focus, .dropmenu li li a:hover, .dropmenu li li a:focus {
	color: #fff;
	text-decoration: none;
	border: 1px solid #70963E;
	background-color: #70963E;
}
#inner_wrap hr {
	display: none;
}
#main_menu {
	padding: 0;
}
#helpmain {
	box-shadow: none;
}

#info_center .cat_bar, .table_grid tr.catbg th, #show_attachments th, #searchform .roundframe .title_bar {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
#collapse_button {
	border: none;
}
.greeting {
	padding-left: 14px;
}
li.greeting, .news p {
	font-weight: normal;
	color: #333333;
}
.table_list .icon, .table_list .info, .table_list .stats, .table_list .lastpost, .table_list td.children {
	background: #FBFAFA;
}

.table_list .stats p {
	border: 1px solid #FBFAFA !important;
}
#inner_wrap .user {
	padding-left: 15px;
}
#top_section a , #top_section strong {
	color: #333;
}
.navigate_section ul {
	border: none;
	border-radius: 0;
	box-shadow: none;
	border: 1px solid #ccc;
}
.generic_list_wrapper, .action_profile #permissions, #postmodify .roundframe, .add_buddy,
#creator .windowbg2, #notify_options .windowbg2, .windowbg
#info_center, #profileview, #messageindex, #unread, #mlist, #main_grid table,
.core_posts, #recent .core_posts, #recent .topic_table, #searchform .roundframe {
	border: none;		
	background-color: transparent;
}

.poster span.name, .keyinfo h5 a {
	color: #809262;
}

.statsbar div.bar {
	background: #7AB22D;
}

#poll_options dl.options {
	border: none;
}

.windowbg, .windowbg2 {
	color: #4d4f53;
}
.postarea, .post {
	background: transparent;
}
.poster, .postarea {
	border: none !important;
	box-shadow: none !important;
}
.post_wrapper {
	border: 1px solid #D6D5CC;
	border-radius: 8px;
	padding: 6px;
	background-color: #f7f7f7;
}
#forumposts .windowbg .postarea, #forumposts .windowbg2 .postarea {
	background: transparent;
}
#boardindex_table .windowbg {
	background: #F8F8F8;
}
.table_list .icon, .table_list .info, .table_list .stats, .table_list .lastpost, .table_list td.children {
	background: #F8F8F8;
}
.generic_list_wrapper, .action_profile #permissions, #postmodify .roundframe, .add_buddy, #creator .windowbg2, #notify_options .windowbg2, #info_center, #profileview, #messageindex, #unread, #mlist, #main_grid table, .core_posts, #recent .core_posts, #recent .topic_table, #searchform .roundframe {
	box-shadow: none;
	border-radius: 0;
}
#statistics .flow_hidden {
	background: #f8f8f8;
	box-shadow: none;
}

.pagelinks {
	padding: 0 1px;
	margin: 8px 3px 5px 4px;
}
.pagelinks  .pagelink:first-child {
	border-radius: 2px;
}
.pagelinks  .pagelink:last-child {
	border-radius: 2px;
}
.pagelink, .expand_pages {
	border: 1px solid #ccc;
	margin-right: 3px;
	background: #efefef;
	display: inline-block;
	border-radius: 2px;
}
.current_pagelink {
	background-color: #7CB229;
	color: white;
}

.table_list .icon, .table_list .info, .table_list .stats, .table_list .lastpost {
	border-top: 1px solid #ccc;
}
.table_list .stats p {
	border: 0;
}
/* @todo tempo Colors for locked and sticky topics so we something to look at till this is done :P*/
.table_grid tr td.stickybg {
	background: #F5FCEC; /*e8d8cf*/
}
.table_grid tr td.stickybg2 {
	background: #F5FCEC;
}
.table_grid tr td.lockedbg {
	background: #EBF0E4; /*e7eaef*/
}
.table_grid tr td.lockedbg2 {
	background: #EBF0E4;
}
/* And now those precious little icons, boy are they cute ! */
.table_grid tr td.stickybg.subject {
	background: #F5FCEC url(../images/icons/quick_sticky.png) no-repeat 98% 4px;
}
.table_grid tr td.stickybg2.subject {
	background: #F5FCEC url(../images/icons/quick_sticky.png) no-repeat 98% 4px;
}
.table_grid tr td.locked_sticky.subject, .table_grid tr .stickybglockedbg.subject {
	background: #F5FCEC url(../images/icons/quick_sticky_lock.png) no-repeat 98% 4px;
}
.table_grid tr td.locked_sticky2.subject, .table_grid tr .stickybglockedbg2.subject {
	background: #F5FCEC url(../images/icons/quick_sticky_lock.png) no-repeat 98% 4px;
}
.table_grid tr td.lockedbg.subject {
	background: #EBF0E4 url(../images/icons/quick_lock.png) no-repeat 98% 4px;
}
.table_grid tr td.lockedbg2.subject{
	background: #EBF0E4 url(../images/icons/quick_lock.png) no-repeat 98% 4px;
}
/* Search results need some help as well */
.search_results_posts .lockedbg {
	background:  #CED7C1 url(../images/icons/quick_lock.png) no-repeat 95% 15px;
}
.search_results_posts .stickybg {
	background: #f2e3d9 url(../images/icons/quick_sticky.png) no-repeat 95% 15px;
}
.search_results_posts .locked_stickybg {
	background:  #f2e3d9 url(../images/icons/quick_sticky_lock.png) no-repeat 95% 15px;
}
.table_list .lastpost {
	width: 20%;
	min-width: 20em;
}

.buttonlist ul li a.active {
background: #7CB229;
color: #fff;
font-weight: bold;
border-radius: 3px;
border: 1px solid #ccc;
}
#button_xhtml {
	display: none;
}
#button_rss {
	background: url(../images/_green/rss.png) no-repeat;
	position: fixed;
	top: 10px;
	right: 8px;
	z-index: 99;
}
#button_rss a {
	width: 10px;
	display: block;
	line-height: 10px;
}
#button_rss span {
	color: transparent;
	font-size: 0.7em;
	cursor: pointer;
	text-decoration: none;
}
#footer_section a:hover {
	text-decoration: none;
}

.titlebg, .titlebg2, tr.titlebg th, tr.titlebg td, tr.titlebg2 td {
	background: transparent;
}

input:focus, textarea:focus, button:focus, select:focus, textarea.editor:focus {
	outline:none !important;
	border: 1px solid #70963E;
	box-shadow: 0;
	background-color: #faffff;
}