/* This is css file for the blue color variant */

body {
	margin-top: 15px;
}
html, body {
	background-color: #eee;
}
#wrapper {
	background-color: #fff;
	border: 1px solid #ccc;
	border-top: 1px solid white;
	box-shadow: none;
	margin-top: 0;
}

#header .frame, #top_section .frame {
	margin: 0;
	width: 100%;
}
#top_section {
	padding: 0;
	box-shadow: none;
}
#logo {
	float: right;
	text-align: right;
	margin-top: 0;
}
#gotop, #gobottom {
	display: none;
}
#description_board {
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}
.cat_bar {
	background: #3f4c6b;
	color: white;
	box-shadow: 0 16px 20px rgba(255,255,255,0.15) inset;
}
h3.catbg, h3.catbg a {
	color: white;
	text-shadow: none;
}

.table_list .lastpost p a, #ic_recentposts .recentpost>strong>a {
	color:  #3f4c6b;
}
a.new_posts, span.new_posts {
	background: #cd0000;
}

.buttonlist li a.active, .buttonlist li a.active:hover {
	background: #3f4c6b;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.3) inset;
	border: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

h3.catbg a:link, h3.catbg a:visited, 
h4.catbg a:link, h4.catbg a:visited, h3.catbg2 a,
h3.catbg2, .table_list .header td,
.table_list .header td a {
	color: white;
}
h3.catbg a:hover {
    color: #ccc !important;
}

h1.forumtitle {
	padding: 20px 10px 6px 12px;
	text-shadow: -1px 0 white, 0 1px white,
      1px 0 white, 0 -1px white, #c0c0c0 3px 3px 5px;
}

.linktree:after {
	content: " \00BB";
}

h1.forumtitle a:hover {
	text-decoration: none;
}
h1.forumtitle a {
	color: #444;
	font-size: 1.1em;
	font-weight: bold;
}

#footer_section {
	background-color: #3f4c6b;
	border-radius: 0 0 7px 7px;
	border-top: 0;
	margin-bottom: 5px;
}
#top_section {
	padding-top: 10px;
	background: #fff;
	border-bottom: none;
	font-weight: normal;
	border-radius: 10px 10px 0 0;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

#upper_section , #content_section, #inner_section, #wrapper {
	border-radius: 0;
}

#inner_section {
	padding: 0;
	padding-bottom: 5px;
	padding-top: 5px;
}
#content_section {
	padding-top: 10px;
}

#inner_wrap .news {
	width: auto;
	padding-right: 10px;
}
#header {
	padding: 0;
	padding-bottom: 12px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background-color: white;
	box-shadow: none;
	border-bottom: 0;
}
#header, #top_section, #footer_section {
	margin: 0 auto;
	width: 90%;
	max-width: 100em;
}
#upper_section {
	padding: 5px 12px;
}
.table_list .info .subject{
	color: #3f4c6b;
	font-size: 1.2em;
	font-weight: bold;
}

#upshrink {
	border: none;
	background: none;
}

#info_center .cat_bar, .table_grid tr.catbg th, #show_attachments th, #searchform .roundframe .title_bar {
	border-top: 1px solid #3f4c6b;
	border-bottom: 1px solid #3f4c6b;
}
#collapse_button {
	border: none;
}
.greeting {
	padding-left: 14px;
}
li.greeting, .news p {
	font-weight: normal;
	color: #333333;
}
.table_list .icon, .table_list .info, .table_list .stats, .table_list .lastpost, .table_list td.children {
	background: #FBFAFA;
}

.table_list .stats p {
	border: 1px solid #FBFAFA !important;
}
#inner_wrap .user {
	padding-left: 15px;
}
#top_section a , #top_section strong {
	color: #333;
}
.navigate_section {
	box-shadow: none;
	background-color: #f9f9f9;
}
.navigate_section ul {
	border: none;
	border-radius: 0;
}
.navigate_section li {
	padding: 0 1.5em 0 0;
}
.generic_list_wrapper, .action_profile #permissions, #postmodify .roundframe, .add_buddy,
#creator .windowbg2, #notify_options .windowbg2, .windowbg
#info_center, #profileview, #messageindex, #unread, #mlist, #main_grid table,
.core_posts, #recent .core_posts, #recent .topic_table, #searchform .roundframe {
	border-color: #D6D5CC;		
	background-color: #FAFAF7;
}

.poster .name, .keyinfo h5 a {
	color: #3f4c6b;
}
.roundframe {
	background-color: #f9f9f9;
}

.statsbar div.bar {
	background: #3F571B;
}

#poll_options dl.options {
	border: none;
}

.windowbg, .windowbg2 {
	color: #4d4f53;
}
.postarea, .post {
	background: transparent;
}
.poster, .postarea {
	border: none !important;
	box-shadow: none !important;
}
.post_wrapper {
	border: 1px solid #D6D5CC;
	border-radius: 8px;
}

/* Styles for the standard dropdown menus.
----------------------------------------------------------- */
/* Visible menu bar: wrapper/background. */
#main_menu {
	background: #3f4c6b;
	box-shadow: 0 16px 20px rgba(255,255,255,0.15) inset;
	margin: 0;
	margin-bottom: 6px;
	padding: 0;
}
/* Needed for new PM notifications. */
.listlevel1 strong {
	color: #fff;
}
/* Level 1 Menu bar: link or button. General sizing. */
#main_menu .linklevel1, .admin_menu .linklevel1, #adm_submenus .linklevel1 {
	/* If there will be a border on hover, ensure there is a default border. */
	/* Applying a default transparent border stops links jumping on hover. */
	border: 1px solid transparent;
	color: #fff;
}
#main_menu .linklevel1 {
	margin-left: 10px;
}
/* Override link colour for admin/profile/etc menus. */
.admin_menu .linklevel1, #adm_submenus .linklevel1 {
	color: #444;
}
/* Level 1 button hover and focus effects. */
#main_menu .active, /* Level 1 active button shares same styling. */
#main_menu .linklevel1:hover, #main_menu .listlevel:hover .linklevel1, #main_menu .linklevel1:focus,
/* For primary admin/profile/etc drop menus. */
.admin_menu .linklevel1:hover, .admin_menu .linklevel1:focus,
/* For secondary admin/profile/etc menus. */
#adm_submenus .linklevel1:hover, #adm_submenus .linklevel1:focus {
	border: 1px solid transparent;
	border-top: 1px solid transparent;
	text-decoration: none;
}
/* Main menu Level 1 active button and hover need a different border. */
#main_menu .active, #main_menu .linklevel1:hover, #main_menu .listlevel:hover .linklevel1, #main_menu .linklevel1:focus {
	border: 1px solid transparent;
}
/* Level 1 active buttons for primary admin/profile/etc drop menus... */
.admin_menu .active,
/* ......and for secondary admin/profile/etc menu strip. */
#adm_submenus .active {
	background: #3f4c6b;
	box-shadow: 0 16px 20px rgba(255,255,255,0.15) inset;
	color: white;
	border-radius: 5px;
}

.action_admin #adm_submenus {
	margin: 0 !important;
}
/* Hover effects for those buttons. */
.admin_menu .active:hover, .admin_menu .listlevel1:hover .active, #adm_submenus .active:hover {
	background: #437837;
	color: #fff;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.3) inset;
	border: 1px solid #5aa049;
	border-left: 1px solid #2d5024;
	border-top: 1px solid #2d5024;
}
/* Level 1 active buttons get a bit more weight. */
.active {
	font-weight: 600;
}
/* Top level subsection indicators. */
/* Comment these out if you don't want them. */
#main_menu .subsections .linklevel1, .admin_menu .subsections .linklevel1 {
	padding: 0 0.8em 0 0.5em;
}
#main_menu .subsections .linklevel1:after,.admin_menu .subsections .linklevel1:after {
	content:" \25BC";
	position: absolute;
	top: 0.48em;
	right: 0.2em;
	font-size: 0.6em;
}
/* Levels 2 and 3: drop menu wrapper. */
.menulevel2, .menulevel3 {
	background: #fff;
	border: 1px solid #aaa;
	border-radius: 4px;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}
/* Levels 2 and 3 drop menus: link or button. */
.linklevel2, .linklevel3 {
	color: #555;
	/* Applying a default transparent border stops links jumping on hover. */
	border: 1px solid transparent;
	border-radius: 3px;
}
/* Admin menu icons. */
.linklevel2>img {
	vertical-align: middle;
	margin: 0 0 0 -4px;
}
/* Levels 2 and 3: hover effects. */
.listlevel2:hover .linklevel2, /* linklevel2 highlighted with cursor over level 3. */
.linklevel2:hover, .linklevel2:focus, .linklevel2.sfhover:focus,
.linklevel3:hover, .linklevel3:focus, .linklevel3.sfhover:focus {
	background: #fcfcfc;
	background-image: linear-gradient(to bottom, #fcfcfc 0%, #e5e5e5 100%); /* W3C */
	color: #555;
	border: 1px solid transparent;
	text-decoration: none;
}
/* Level 2: subsection indicators. */
.listlevel2.subsections .linklevel2:after {
	content: "\2026";
	position: absolute;
	right: 6px;
	font-size: 0.7em;
	color: #777;
}
/* Levels 2 and 3: highlighting of current section */
/* @todo - This should probably be applied to main menu as well, just for consistency. */
.linklevel2.chosen, .linklevel3.chosen {
	font-weight: 600;
}

/* Styles for sidebar menus.
------------------------------------------------------- */
/* Same styling for Level 1 and Level 2. */
#menu_sidebar .linklevel1, #menu_sidebar .linklevel2 {
	color: #555;
	border: 1px solid transparent;
}
#menu_sidebar .linklevel1:hover, #menu_sidebar .linklevel1:focus, #menu_current_area .linklevel1,
#menu_sidebar .linklevel2:hover, #menu_sidebar .linklevel2:focus {
	color: #555;
	border: 1px solid transparent;
	border-top: 1px solid transparent;
	border-radius: 3px;
	text-decoration: none;
}
#menu_current_area .linklevel1 {
	font-weight: 600;
}
/* Level 1: subsection indicators. */
#menu_sidebar .listlevel1.subsections .linklevel1:after {
	position: absolute;
	right: 6px;
}

.table_list .icon {
	border-left: 1px solid transparent;
}
.table_list .stats p {
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}
.table_list .lastpost {
	border-right: 1px solid transparent;
}
.table_list .children {
	border-top: 1px solid #ddd;
	border-right: 2px solid #e4e4e4;
}

.table_list .icon, .table_list .info, .table_list .stats, .table_list .lastpost {
	background: #fff;
	border-top: 1px solid #e4e4e4;
	height: 4em;
}
.table_list .divider tr td {
	border-top: 1px solid #e4e4e4;
}
/*End sidebar flyout coding. */

@media screen and (max-width: 480px) and (min-width: 320px)
{
	#footer_section, #top_section, #header { width: 100% }
	
}