a:link, a:hover, a:visited {
	text-decoration: underline;
}

/* These divisions wrap the forum sections when a forum width is set. */
#wrapper, .frame {
	width: 95%;
	max-width: 1200px;
	margin: 0 auto;
	padding-top: .8em;
}

#header .frame {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 100%;
	height: 100px;
	margin-bottom: 2em;
	border-top: 2px solid;
	border-top-color: var(--top_section_border);
	border-bottom: 4px solid;
	border-bottom-color: var(--top_section_lower);
	background-image: linear-gradient(to bottom, var(--primary_white), var(--primary_white_compliment));
}

h1.forumtitle {
	font-family: verdana, tahoma, serif;
	font-size: 2em;
	padding: 0 0 0 1em;
	color: #4B863C;
	text-shadow: -1px -1px 0 var(--opacity30);
}

/* Tweak the logo */
#logo {
	margin: 0 1em 0 auto;
}

#inner_wrap {
	min-height: 60px;
	border-bottom: 1px solid var(--primary_border_bottom);
}

#inner_wrap .news {
	float: left;
	width: 100%;
	max-width: 100%;
	height: 80px;
	text-align: right;
}

#main_steps {
	float: right;
	width: 50%;
	padding: 0 0 1em 0;
}

#main_steps h2 {
	font-size: var(--font20);
	line-height: 1.6;
	margin: 0 1em 0.5em 0;
	color: var(--menu_button_active);
	border-bottom: 1px solid var(--primary_border_bottom);
}

#main_steps ul {
	line-height: 1.8;
	margin: 0;
	padding: 0 0.5em;
	list-style: none;
}

#main_steps .stepdone {
	color: var(--disabled_text);
}

#main_steps ul li.stepcurrent {
	font-weight: bold;
	color: var(--menu_text);
}

#main_steps ul li.stepwaiting {
	color: var(--strong_text);
}

#progress_bar {
	font-size: var(--font18);
	position: relative;
	width: 35%;
	height: 44px;
	margin: 0.6em 0 0 4em;
	border: 1px solid var(--primary_border);
	border-radius: 4px;
	background: var(--content-background);
	box-shadow: 2px 2px 1px var(--box_shadow);
}

#overall_text, #step_text {
	font-weight: bold;
	position: absolute;
	z-index: 2;
	top: 0.5em;
	left: -3.3em;
	color: var(--body_text);
}

#overall_progress {
	height: 41px;
	background: var(--gradient_bar_bottom);
}

.overall_progress, .progress {
	position: absolute;
	top: 8px;
	left: 8px;
}

#main_screen {
	padding: 1em 1em 0.5em 1em;
}

#main_screen h2 {
	font-size: 1.2em;
	line-height: 1.6em;
	margin: 0 0 0.5em 0;
	color: var(--menu_button_active_2);
	border-bottom: 1px solid var(--menu_button_active_2);
}

#footer_section {
	min-height: 90px;
}

.panel form div {
	overflow: auto;
	max-height: 560px;
}

.panel p, .panel h3 {
	margin: 0 0.5em 1em 0.5em;
}

.panel ul {
	margin: 0 0.5em 1em 0.5em;
}

.error_message {
	padding: 0.5em;
	color: var(--attention);
}

.panel .button_submit, .panel .linkbutton {
	font-size: var(--font14);
	font-weight: bold;
	padding: .25em .5em;
	text-decoration: none;
	color: var(--hover_text);
}

.panel .button_submit:hover, .panel .linkbutton:hover {
	text-decoration: none;
	color: var(--menu_button_active_hover);
}

.panel .clear {
	overflow: auto;
	padding: 1em 0 0 0;
}

.panel .errorbox {
	font-size: var(--font16);
}

#time_elapsed {
	clear: both;
	margin: 1em 0.9em 0 0.9em;
	padding: .4em .5em .5em .5em;
	border: 1px solid var(--primary_border);
	border-radius: 5px;
	background: var(--primary_white_compliment);
	box-shadow: 0 -2px 2px var(--opacity10);
}

/* Version check */
#elkVersion, #installedVersion {
	white-space: nowrap;
}

.step_table, .chmod_table {
	width: 100%;
	margin: 2em 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
}

.chmod_table {
	width: 520px;
}

.textbox {
	vertical-align: top;
}

.ftp_setup {
	font-family: monospace;
	margin: 1.5em;
}

.notes {
	font-size: smaller;
	margin-bottom: 2em;
}