a:link, a:hover, a:visited {
	text-decoration: underline;
}
/* These divisions wrap the forum sections when a forum width is set. */
#wrapper, .frame {
	width: 90%;
	max-width: 1140px;
	margin: 0 auto;
	padding-top: 12px;
}

h1.forumtitle {
	font-family: tahoma, serif;
	font-size: 2em;
	font-weight: normal;
	float: left;
	margin: 0;
	padding: 35px 0 0 15px;
	color: #4B863C;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.5), 1px 1px 0 #FFFFFF;
}
/* Tweak the logo */
img#logo {
	margin: 12px 12px 0 0;
}

#inner_wrap {
	min-height: 60px;
	border-bottom: 1px solid #CCCCCC;
}

#inner_wrap .news {
	float: left;
	width: 100%;
	max-width: 100%;
	height: 80px;
	text-align: right;
}

#main_steps {
	float: right;
	width: 50%;
	padding: 0 0 1em 0;
}

#main_steps h2 {
	font-size: 1.2em;
	line-height: 1.6em;
	margin: 0 1em 0.5em 0;
	color: #4B863C;
	border-bottom: 1px solid #4B863C;
}

#main_steps ul {
	line-height: 1.8em;
	margin: 0;
	padding: 0 0.5em;
	list-style: none;
}

#main_steps ul li.stepdone {
	color: #AAAAAA;
}

#main_steps ul li.stepcurrent {
	font-weight: bold;
	color: #222222;
}

#main_steps ul li.stepwaiting {
	color: #666666;
}

#progress_bar {
	font-size: 1.2em;
	position: relative;
	float: left;
	width: 33%;
	height: 2.3em;
	margin: 0.6em 0 0 4em;
	border: 1px solid black;
	border-radius: 2px;
	background: #FFFFFF;
}

#overall_text, #step_text {
	font-weight: bold;
	position: absolute;
	z-index: 2;
	top: 0.5em;
	left: -3.3em;
	color: #111111;
}

#overall_progress, #step_progress {
	z-index: 1;
	height: 2.3em;
	background: lime;
}

#step_progress {
	background: #FFD000;
}

.overall_progress, .progress {
	position: absolute;
	top: 0.5em;
	left: 0.5em;
}

#main_screen {
	padding: 1em 1em 0.5em 1em;
}

#main_screen h2 {
	font-size: 1.2em;
	line-height: 1.6em;
	margin: 0 0 0.5em 0;
	color: #4B863C;
	border-bottom: 1px solid #4B863C;
}

.panel form div {
	overflow: auto;
	max-height: 560px;
}

.panel p, .panel h3 {
	margin: 0 0.5em 1em 0.5em;
}

.panel ul {
	margin: 0 0.5em 1em 0.5em;
}

.error_message {
	padding: 0.5em;
	color: red;
}

.panel .button_submit, .panel .linkbutton {
	font-size: 1em;
	font-weight: bold;
	padding: 3px 6px;
	text-decoration: none;
	color: #333333;
}

.panel .button_submit:hover, .panel .linkbutton:hover {
	text-decoration: none;
	color: #AF6700;
}

.panel .clear {
	overflow: auto;
	padding: 1em 0 0 0;
}
/* [WIP] Warning: this next bit may cause trouble. .. confirmed, it does :P */
/* It's just to hide an empty div when the submits are not shown.
.panel .clear:nth-child(4) {
	border: 1px solid green;
	display: none;
}*/
/* End [WIP] */
#time_elapsed {
	clear: both;
	margin: 1em 0.9em 0 0.9em;
	padding: 6px 8px 8px 8px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	/* [WIP] */
	background: /*#f0f4f7*/ #FCFCFC;
	box-shadow: 0 -2px 2px rgba(0,0,0,0.1);
	/* End [WIP] */
}

/* Version check */
#elkVersion, #installedVersion {
	white-space: nowrap;
}