body {
	color: #000000;
	background-color: #FFFFFF;
}

body, td, .normaltext {
	font-family: Verdana, arial, helvetica, serif;
	font-size: small;
}

*, a:link, a:visited, a:hover, a:active {
	color: #000000 !important;
}

.smalltext, .quoteheader, .codeheader {
	font-size: x-small;
}

.largetext {
	font-size: large;
}

hr {
	height: 1px;
	color: #000000;
	border: 0;
	background-color: #000000;
}

.category_header {
	background-color: #D6D6D6;
	font-weight: bold;
}

.bordercolor {
	background-color: #333333;
}

.windowbg {
	color: #000000;
	background-color: #FFFFFF;
}

.windowbg2 {
	color: #000000;
	background-color: #F1F1F1;
}

.copyright {
	font-size: x-small;
	text-align: center;
}