/* INTRODUCTION
/* This is the standard Elkarte rtl default theme adjustments
/* This file contains essential layout code only.
/* Colors, gradients, images, etc are in rtl_variantname.css.
/*
/* ------------------------------------------------------- */
/*
/*		$GENERAL.............Global resets, clearfixes, etc.
/*		$COMMON..............Common classes to drive you bonkers.
/*		$BBC.................Quotes, code blocks, BBC styles.
/*		$AJAX................The "loading" bar (quick edit, etc).
/*
/*		$MAIN................Forum header, wrapper, and footer.
/*		$MENUS...............Main and secondary menus.
/*		$LINKTREE............The breadcrumbs.
/*		$BUTTONS.............Most button strips.
/*		$PAGELINKS...........Page navigation links.
/*
/*		$TABLES..............Generic tables (memberlist, error log, etc).
/*		$SETTINGS............Generic lists for settings pages.
/*		$BOARDS..............Board index, sub-boards, and message index.
/*
/*		$TOPICS..............The display template (topic view), including send.
/*		$EDITOR..............Main editor (posts, events, polls) and topic summary.
/*		$MODERATE............Move topic, split topic, merge topic.
/*
/*		$PROFILE.............The profile areas.
/*		$PERSONAL............The personal messages (PM) areas.
/*		$CALENDAR............Wombats (and the calendar).
/*		$STATISTICS..........The statistics centre.
/*
/*		$HELP................Help pages, help icons and pop-ups, tooltips.
/*		$SEARCH..............Search pages, including memberlist search.
/*		$LOGIN...............Login and registration, maintenance mode.
/*
/*		$ERRORS..............Error messages.
/*		$PROGRESS............Nifty progress bars.
/*		$MEDIA...............Experimental media queries.
/* ------------------------------------------------------- */

/* -------------------------------------------------------
 *	$GENERAL
 * -------------------------------------------------------
 */

/* Use new class that is defined to suit, and with a sensible name. */
.submitbutton {
	text-align: left;
}

legend {
	margin-right: 1em;
	margin-left: 0;
	padding-right: 1.25em;
	padding-left: 0;
}

#news > h2 {
	float: right;
	margin: -.2em 0 0 1em;
}

/* -------------------------------------------------------
 *	$COMMON
 * -------------------------------------------------------
 */

.flow_flex_additional_row, .flow_flex_right, .below_table_data {
	margin-right: auto;
	margin-left: 0 !important;
}

/* Floats, overflows, clears. @todo */
.floatright {
	float: left;
}

.floatleft {
	float: right;
}

.clear_left {
	clear: right;
}

.clear_right {
	clear: left;
}

.righttext {
	text-align: left;
}

.lefttext {
	text-align: right;
}

/* Styles for main headers. */
.category_header .icon {
	margin: 0 0 0 5px;
}

h2 a.collapse {
	float: left;
	margin: 2px 0 -2px 4px;
}

.warningbox, .successbox, .infobox, .errorbox {
	padding-right: 2.75em;
	background-repeat: no-repeat;
	background-position: 99% 50%;
}

/* -------------------------------------------------------
 *	$BBC
 * -------------------------------------------------------
 */
.bbc_table td {
	padding: 0 0 0 1em;
}

.bbc_table th {
	padding: 0 0 0 1em;
}

.bbc_list {
	padding: 0 2.5em 0 0;
	text-align: right;
}

.bbc_footnotes {
	padding: .25em 0 .25em .4em;
}

.bbc_img.floatleft {
	padding: .1em 0 .1em .75em;
}

.bbc_img.floatright {
	padding: .1em .75em .1em 0;
}

/* -------------------------------------------------------
 *	$AJAX
 * -------------------------------------------------------
 */

/* The "Loading" bar for quick edit, etc. */
#ajax_in_progress {
	right: 0;
	left: auto;
}

/* Spinner and close button */
#ajax_in_progress a, #ajax_in_progress span {
	margin-right: 1em;
}

/* -------------------------------------------------------
 *	$MAIN.
 * -------------------------------------------------------
 */

#search_form {
	padding: .75em .5em .25em .25em;
}

#search_form button {
	margin-right: -5px;
	margin-left: 0;
}

#search_form select {
	width: 10em;
	border: 1px solid;
	border-left: none;
}

#search_form select:focus {
	border: 1px solid;
	border-left: none;
}

#search_form input[type="submit"] {
	border-radius: 2px 0 0 2px;
}

.rightheader #forumtitle .forumlink {
	float: left;
}

/* Float these items to the right. @todo - Simplify. */
#logobox, .rightheader #logobox {
	float: left;
}

.rightheader #logobox, .rightheader #logo {
	float: right;
}

/* Tweak the logo */
#logo {
	margin: 0 0 0 8px;
}

.rightheader #logo {
	margin: 0 8px 0 0;
}

/* The footer with copyright links etc. */
#footer_section li {
	padding-right: 0;
	padding-left: .25em;
}

#footer_section .rssfeeds {
	float: left;
}

/* -------------------------------------------------------
 *	$MENUS
 * -------------------------------------------------------
 */

.listlevel1#button_profile {
	margin-right: auto;
	margin-left: 0;
}

.i-menu-profile::before {
	transform: translate(8px, -2px);
}

#main_menu .subsections .linklevel1::after, #main_menu .subsections:hover .linklevel1::after {
	margin-right: 0.25em;
	margin-left: 0;
}

/* Tricky PM indicator. Define it carefully */
.pm_indicator, .likes_indicator {
	right: auto;
	left: -0.4em;
	float: right;
	border-radius: 8px 8px 0 8px;
}

#dropdown_menu_1 .pm_indicator {
	margin-left: 2px;
}

/* Admin menu icons. */
.linklevel2 > img {
	margin: 0 -4px 0 0;
}

/* Level 2: subsection indicators. */
.listlevel2.subsections .linklevel2:after,
#menu_sidebar .subsections .linklevel1:after,
#menu_sidebar .subsections:hover .linklevel1:after {
	right: auto;
	left: 6px;
	content: "\2190";
}

.listlevel2.subsections .linklevel2 {
	margin-left: 2em;
}

/* Styles for sidebar menus.
------------------------------------------------------- */

#menu_sidebar {
	float: right;
	padding: 0 0 1em 10px;
}

/* Same styling for Level 1 and Level 2. */
#menu_sidebar .listlevel1:hover .menulevel2,
#menu_sidebar .listlevel1.sfhover .menulevel2 {
	right: 170px;
	left: auto;
}

/* Reverse the menu flyout direction for the left side buttons so they stay on page */
.listlevel1#button_profile .menulevel2 {
	right: auto;
	left: 0;
}

/* Level 3: drop menu positioning, move to a a flyout position to the left of
   its disclose arrow */
.menulevel3 {
	margin: -1.5em calc(100% - 6px) 0 0;
}

/* -------------------------------------------------------
 *	$LINKTREE / $BREADCRUMBS
 * -------------------------------------------------------
 */

.breadcrumb .crumb:last-child {
	padding-right: 2.5em;
	padding-left: 1.8em;
	border-radius: calc(var(--arrow) / 6) 0 0 calc(var(--arrow) / 6);
}

.breadcrumb .crumb:first-child {
	padding-right: 1.25em;
	padding-left: .7em;
	border-radius: 0 4px 4px 0;
}

.breadcrumb .crumb {
	padding: 0 2.5em 0 .7em;
}

.breadcrumb .crumb::after {
	right: auto;
	left: calc(var(--arrow) / 2 * -1);
	transform: scale(0.7071) rotate(-135deg);
}

/* -------------------------------------------------------
 *	$BUTTONS
 * This section contains code for the quickbuttons (quote, quick edit, etc)
 * and for the buttonlist class (reply, add poll, notify, etc).
 * These classes share some styling.
 * Declarations are amalgamated where styling is shared.
 * -------------------------------------------------------
 */

/* Styles for the standard button lists.
/* ------------------------------------------------------- */

.buttonlist li {
	margin: 0 4px 0 0;
}

/* The quick buttons. */
/* ------------------------------------------------------- */
.quickbuttons {
	text-align: left;
}

/* Radius left end of the first (Quote) button. */
.linklevel1.quote_button {
	border-radius: 0 2px 2px 0;
}

/* Radius right end of the last button. */
.linklevel1.post_options, .linklevel1.remove_button {
	border-radius: 2px 0 0 2px;
}

/* Follow ups and topic summary need it a bit different. */
.follow_ups, #topic_summary .quickbuttons {
	margin: -7px 7px 0 0;
}

/* Odd cases. */
.quickbuttons .modified {
	margin-right: unset;
	margin-left: auto;
}

.quickbuttons .linklevel1 {
	padding: 1px 22px 0 6px;
}

.quickbuttons .linklevel1:before, .quickbuttons .linklevel2:before {
	right: 3px;
	left: auto;
}

.quickmod_check {
	right: 3px;
	left: auto;
}

/* Quickbutton and follow ups drop menus. */
.quickbuttons .menulevel2, .follow_ups .menulevel2 {
	text-align: right;
}

.quickbuttons .listlevel1:hover .menulevel2, .quickbuttons .listlevel1 .menulevel2 {
	right: auto;
	left: 0;
}

.quickbuttons .linklevel2 {
	padding: 0 26px 0 6px;
}

/* -------------------------------------------------------
 *	$PAGELINKS
 * -------------------------------------------------------
 */

.pagelinks :first-child {
	border-radius: 0 2px 2px 0;
}

.pagelinks :last-child {
	border-radius: 2px 0 0 2px;
}

.pagesection .buttonlist {
	margin-right: auto;
	margin-left: 0;
}

/* our buddies &laquo; &raquo; */
.small_pagelinks li:first-child::before {
	font-size: var(--font14);
	position: absolute;
	right: -12px;
	content: '\2B9E';
}

.small_pagelinks li:last-child::after {
	font-size: var(--font14);
	position: absolute;
	left: -14px;
	content: '\2B9C';
}

.small_pagelinks {
	float: left;
}

/* Globally accessible top/bottom links. */
#gotop, #gobottom {
	right: 0;
	left: auto;
	border-radius: 20px 0 0 0;
}

/* Skip navigation link. */
#top {
	right: 3em;
	left: auto;
}

#gobottom {
	border-radius: 0 0 0 20px;
}

/* -------------------------------------------------------
 *	$TABLES
 * -------------------------------------------------------
 */

.table_head > th {
	text-align: right;
}

/* GenericList */
.sort_by_item .sort, .sort {
	margin: 0 4px -4px 0;
}

/* -------------------------------------------------------
 *	$SETTINGS
 * -------------------------------------------------------
 */

dl.settings {
	clear: left;
}

dl.settings dt {
	float: right;
}

dl.settings dt.context {
	float: right;
}

dl.settings dd {
	float: left;
}

dl.settings img {
	margin: 0 0 0 10px;
}

/* -------------------------------------------------------
 *	$BOARDS
 * -------------------------------------------------------
 */
/* The board categories and newsfader - some shared styling. */
.icon_anchor {
	float: right;
	padding: 2px 0 0 6px;
}

.board_stats {
	text-align: left;
}

.board_avatar {
	padding-right: .7em;
	padding-left: 0;
}

/* The posting icons and mark read button. */
#posting_icons {
	margin: 0 .25em 1em 0;
}

.topic_sorting:hover #sortby, #sortby:hover {
	right: auto;
	left: 0;
}

.topic_sorting > li {
	float: left;
}

.topic_sorting {
	float: left;
}

#sort_by {
	margin-right: auto;
	margin-left: unset;
}

/* The board description and who-is-viewing stuff. */
#description_board .generalinfo, #forumposts .generalinfo {
	padding: .25em .8em .25em .25em;
}

.topic_info {
	margin: 0 .8em 0 0;
	padding: .4em .8em .4em .4em;
}

.topic_latest .board_avatar {
	float: right;
}

.topic_latest .i-last_post {
	float: left;
	padding-top: .5em;
}

.topic_moderation {
	place-self: center left;
}

.topic_icons {
	padding-right: 1em;
	padding-left: 0;
	place-self: center right;
}

.fred:before {
	right: -31px;
}

.topic_stats {
	text-align: left;
}

.topic_latest {
	margin-right: 1em;
	margin-left: 0;
}

.topic_name h4 .new_posts {
	float: right;
	margin: 0 0 0 1em;
	padding: 0 .25em;
}

.qaction_row {
	float: left !important;
	text-align: left;
}

.sticky_row .topic_info::before, .locked_row .topic_info::before,
.sticky_row .topic_details::before, .locked_row .topic_details::before,
.locked_row.sticky_row .topic_info::before, .locked_row.sticky_row .topic_info .topic_name::before {
	float: left;
}

/* -------------------------------------------------------
 *	$TOPICS
 * -------------------------------------------------------
 */

#topic_summary .keyinfo nav {
	margin-right: auto;
	margin-left: 0;
}

/* Events */
.edit_event {
	margin: 0 0 0 5px;
}

/* Poll question */
#pollquestion {
	padding: 0 25px 6px 0;
}

/* Poll vote options */
#poll_options .options {
	padding: 12px 25px 0 30px;
}

/* Absolute positioning stops these breaking the bars on narrow screens. */
#poll_options .options .percentage {
	right: auto;
	left: 0;
	float: left;
}

/* Topic information */
.nextlinks {
	float: left;
}

/* Poster details and list of items */
.poster.poster2 {
	float: right;
}

.poster.poster2 .name {
	padding: 0 0 0 8px;
	text-align: right;
}

/* Drop menu for the poster info. */
.poster .listlevel1:hover .menulevel2, .poster .listlevel1 .menulevel2 {
	text-align: right;
}

.postarea {
	padding: 0 1.25em 0 1em;
}

.keyinfo .messageicon {
	margin: 0 0 0 .4em;
}

.groupicon {
	float: right;
	margin: 2px 2px 0 0;
}

.messageContent {
	padding: 7px 2px 2px 8px;
}

/* Used by video embed JS when autolinking video links */
.elk_videoheader {
	padding: 0 6px 0 4px;
}

/* The jump to box */
#display_jump_to {
	margin-right: auto;
	margin-left: 0;
}

#moderationbuttons {
	margin: .5em -.25em .5em 0;
}

/* The send topic section. */
.requiredfield:before {
	right: 5%;
	left: auto;
}

.requiredfield {
	right: 5%;
	left: auto;
}

/* -------------------------------------------------------
 *	$EDITOR
 * -------------------------------------------------------
 */
/* The main post editor section. */

div.sceditor-group, div.sceditor-insertemoticon {
	float: right;
	clear: both;
}

#post_header dt {
	float: right;
}

#post_header dd {
	float: right;
}

#post_header img {
	padding: 0 5px 2px 0;
}

ul.post_options {
	margin: 0 12px 0 0;
}

ul.post_options li {
	float: right;
}

#postAttachment2 dd {
	margin: 4px 12px 4px 0;
}

.draftautosave {
	text-align: left;
}

.post_verification #verification_control {
	margin: 4px 12px 4px 0;
}

/* The event editor section. */
#event_main #datepicker, #event_main #caption_evtitle {
	padding-top: 0.5em;
	padding-right: 1em;
	padding-left: 0;
}

#event_main .event_options {
	padding: 1em 1em 0.5em 0.5em;
}

#event_main select, .event_options li select,
#event_main ul.event_options li .input_check {
	margin: 0 0 0 12px;
}

/* The poll editor section. */
#poll_main #question {
	margin-right: 2em;
	margin-left: auto;
}

#poll_main .poll_main li {
	padding-right: 1em;
	padding-left: 0;
}

#poll_main .poll_main input {
	margin-right: 1em;
	margin-left: auto;
}

#poll_main .poll_main, dl.poll_options {
	padding: 0 8px 8px 0;
}

#poll_options .poll_options dt {
	padding: 0 12px 0 0;
}

#poll_options .poll_options dd input {
	margin-right: 0;
}

.shortcuts {
	margin-right: unset;
	margin-left: auto;
}

/* -------------------------------------------------------
 *	$MODERATE
 * -------------------------------------------------------
 */
/* The move topic section. */
.split_topics, .move_topic {
	text-align: right;
}

/* -------------------------------------------------------
 *	$TABS
 * -------------------------------------------------------
 */

/* Styles for the profile summary tabs, or any jquery ui tabs */
.ui-tabs .ui-tabs-nav li {
	float: right !important;
}

/* -------------------------------------------------------
 *	$PROFILE
 * -------------------------------------------------------
 */
.profileblock_left {
	float: right;
}

.profileblock_right {
	float: left;
}

.profileblock ul li {
	float: right;
	margin-right: 0;
	margin-left: 5px;
}

/* The basic user info on the left */
#basicinfo {
	float: right;
}

#basicinfo .windowbg .content {
	padding-right: 30px;
	padding-left: 0;
}

.profileblock .cf_icons {
	float: right;
	margin: .25em 0 0 .25em;
}

#detailedinfo {
	float: left;
}

#detailedinfo dl, #tracking dl, .profileblock dl {
	clear: left;
}

#detailedinfo dt, #tracking dt, .profileblock dt {
	float: right;
}

#detailedinfo dd, #tracking dd, .profileblock dd {
	float: right;
}

#avatar_server_stored div {
	float: right;
	padding-right: 0;
	padding-left: .25em;
}

#main_admsection #basicinfo h4 {
	float: right;
}

#main_admsection #basicinfo .avatar {
	float: left;
}

#main_admsection #basicinfo ul {
	clear: right;
}

#main_admsection #basicinfo #userstatus {
	clear: right;
}

/* Profile statistics */
#generalstats .content dt {
	float: right;
}

#generalstats .content dd {
	float: right;
}

#show_attachments th {
	text-align: right;
}

.activity_stats li {
	float: right;
}

.activity_stats li .bar span {
	right: -1555em;
	left: auto;
}

/* Most popular boards by posts and activity */
#popularposts {
	float: right;
}

#popularactivity {
	float: left;
}

#popularposts div.content dt, #popularactivity div.content dt {
	float: right;
}

#popularposts div.content dd, #popularactivity div.content dd {
	float: right;
}

.profile_pie {
	float: right;
	margin: 0 0 0 12px;
	background: url(../images/stats_pie_rtl.png);
}

/* View posts */
.topic .time {
	float: left;
}

.counter {
	float: left;
}

.topic .mod_icons {
	margin-right: 0;
	margin-left: 12px;
	text-align: left;
}

#creator dt {
	float: right;
}

#creator dd {
	float: left;
	margin: 0 2px 10px 0;
}

.ignoreboards li {
	float: right;
}

/* Pick theme */
#pick_theme {
	float: right;
}

/*Issue a warning*/
#warndiv {
	margin: 0 5% 1em 0;
}

/* -------------------------------------------------------
 *	$PERSONAL
 * -------------------------------------------------------
 */
#personal_messages .capacity_bar {
	margin: 6px 12px 0 0;
}

.pm_date {
	text-align: right;
}

.pm_subject {
	text-align: right;
}

.pm_from {
	text-align: right;
}

#to_item_list_container div, #bcc_item_list_container div {
	float: right;
	margin-right: 0;
	margin-left: 10px;
}

div.labels {
	text-align: left;
}

.label_pms {
	float: left;
}

.label_pms li {
	margin-right: 0.5em;
	margin-left: 0;
}

/* -------------------------------------------------------
 *	$CALENDAR
 * -------------------------------------------------------
 */
#month_grid {
	float: right;
	padding: 0 0 0 15px;
}

.previous_month, .next_month {
	float: right;
}

.next_month {
	float: left;
}

.weeklist {
	text-align: right;
}

.weeklist h4 {
	float: right;
}

/* Use the old one true layout trick here. */
.weeklist .windowbg2, .weeklist .calendar_today {
	margin: 0 11.5em -95px 0;
}

/* -------------------------------------------------------
 *	$MENTIONS
 * -------------------------------------------------------
 */


/* -------------------------------------------------------
 *	$STATISTICS
 * -------------------------------------------------------
 */
.statistics .category_header {
	margin: 0 50.5% 0 0.5%;
}

.stats {
	margin: 12px 50% 12px 0;
}

.stats.floatleft {
	clear: right;
}

.stats dt {
	float: right;
	margin: 0 0 4px 2%;
}

#top_row .stats dd, .statsbar {
	float: left;
	padding: 0 0 0 4px;
}

.statsbar .bar {
	float: right;
	margin: 0 0 0 4px;
}

/* Absolute positioning stops these breaking the bars on narrow screens. */
.statsbar .righttext {
	right: auto;
	left: 0;
}

#stats .lefttext {
	text-align: right;
}

#stats .stats_month {
	padding: 4px 30px 4px 8px;
}

#stats .stats_day {
	padding: 4px 60px 4px 8px;
}

/* -------------------------------------------------------
 *	$HELP
 * -------------------------------------------------------
 */

/* Styles for the help section. */
#helpmain ul {
	margin: 0 25px 0 0;
}

/* Yes some ugly importants since we don't have specific admin rtl css */
.settings .help .icon {
	position: absolute !important;
	margin: 1px -25px 0 0 !important;
}

.admincenter .content .settings {
	padding: 0 8px 0 0 !important;
}

.helpicon, a.helpicon {
	margin: 0 0 0 .4em !important;
}

/* Styles for the tooltips. */
.tooltip {
	right: -9999px;
	left: auto;
}

/* The darkened background for help pop-ups. */
.popup_container {
	right: 0;
	left: auto;
}

/* The hide icon (red cross). */
.popup_heading .hide_popup {
	float: left;
}

/* -------------------------------------------------------
 *	$SEARCH
 * -------------------------------------------------------
 */

/* The advanced search section. */
#advanced_search dt {
	float: right;
	text-align: left;
}

#advanced_search dd {
	float: right;
	text-align: right;
}

/* The search results page. */
.search_results_posts .buttons {
	padding: 5px 0 0 12px;
}

.search_results_posts .quick_mod {
	right: auto;
	left: 0;
}

/* The memberlist. */
#mlsearch {
	margin-right: auto;
	margin-left: unset;
}

#mlsearch_options.nojs li:nth-child(odd) {
	float: right;
}

#mlsearch_options.nojs li:nth-child(even) {
	float: left;
}

#mlsearch_options .mlsearch_option .input_check {
	margin-right: 0.5em;
	margin-left: 0;
}

/* -------------------------------------------------------
 *	$LOGIN
 * -------------------------------------------------------
 */

/* Styles for the login areas. */
.login dl {
	clear: left;
}

.login dt {
	float: right;
	text-align: left;
}

.login dd {
	float: left;
	text-align: right;
}

/* Additional register fields. */
.register_form {
	clear: left;
}

.register_form dt {
	float: right;
}

.register_form dd {
	float: right;
}

.coppa_contact {
	margin-right: 5ex;
	margin-left: 0;
}

/* -------------------------------------------------------
 *	$ERRORS
 * -------------------------------------------------------
 */

/* Styles for (fatal) errors. */
.errorbox {
	padding: .5em 2.75em .5em .8em;
	text-align: right;
}

.errorbox .listlevel1,
.warningbox .listlevel1 {
	padding-right: 1em;
	padding-left: 0;
}

.errorbox .alert {
	float: right;
}

.errorbox .smalltext {
	padding-right: 1em;
	padding-left: 0;
}

/* -------------------------------------------------------
 *	$PROGRESS
 * -------------------------------------------------------
 */

/* -------------------------------------------------------
 *	$MEDIA
 * -------------------------------------------------------
 */

/* This one does 800 screens at default font size.
   -------------------------------------------------------------------------------------------*/

@media screen and (max-width: 50em) {
	#main_menu .linklevel1 {
		margin-right: 0;
		margin-left: 5px;
	}

	.board_description, .moderators, .childboards {
		margin: 0 8px 0 0;
	}

	/* Playing silly buggers with a sidebar menu option for narrow screens. */
	#main_container {
		padding: 0 12px 0 0;
	}

	#menu_sidebar {
		right: -0.8em;
		left: auto;
	}

	#menu_sidebar:hover {
		padding: 0.8em 0.6em 1em 1em;
	}

	/* End playing silly buggers. */
	.postarea {
		margin: 0 8em 0 0;
	}

	.quickbuttons .modified {
		text-align: right;
	}

	#forumposts .nextlinks {
		text-align: left;
	}

	.ignoreboards.floatright {
		float: none;
	}

	/* our stats page */
	.statistics .category_header {
		margin: 0;
	}

	.stats {
		float: none;
		margin: 0;
	}
}

/* This one does 540 and smaller screens at default font size.
   -------------------------------------------------------------------------------------------*/

@media screen and (max-width: 33.750em) {
	dt, dd, dd label, .login dt, #advanced_search dt {
		text-align: right;
	}

	dd {
		padding-right: 8% !important;
		padding-left: 0;
	}

	#main_content_section {
		padding: 1px 3px 16px 2px;
	}

	.post {
		margin: 0 5px 0 0;
	}

	#wrapper {
		padding-right: 2px;
		padding-left: 2px;
	}

	#gotop {
		margin-right: 1.45em;
		border-radius: 8px 0 0 0;
	}

	#gobottom {
		border-radius: 0;
	}

	#message_index_jump_to {
		float: none;
	}

	.postarea {
		display: block;
		margin: 0;
	}

	h2 .views_text, h2 .nextlinks {
		display: block;
		float: none;
	}

	.childboards {
		margin: 0 5px;
	}

	.board_name {
		margin: 0;
		padding: 0 35px 0 0;
	}

	#basicinfo, #detailedinfo {
		float: none;
	}

	.admin_menu li {
		float: right;
	}

	#main_menu {
		clear: right;
	}

	.listlevel2:hover .menulevel3, .listlevel2.sfhover .menulevel3 {
		right: -4px;
		left: auto;
	}

	#main_menu li ul li, .admin_menu li ul li {
		float: right;
	}

	ul.poster {
		display: block;
		clear: both;
	}

	.poster {
		float: none;
	}

	.poster .listlevel1 {
		display: inline-block;
	}

	.poster li.avatar {
		float: right;
	}

	.poster .subsections {
		float: left;
		text-align: left;
	}

	.poster .membergroup {
		float: left;
	}

	.postarea, .forumtitle {
		padding: 2px;
	}

	.quickbuttons {
		margin: 8px 3px 6px 8px;
	}

	#search_form {
		float: none;
		text-align: center;
	}

	.profileblock_left, .profileblock_right {
		float: none;
	}

	.pagesection div.floatright {
		float: none;
	}
}

/* -------------------------------------------------------
 *	$ADMIN
 * -------------------------------------------------------
 */

#manage_boards ul:nth-child(n+2) {
	padding-right: 30px;
	padding-left: 0 !important;
}

#manage_boards li .floatleft:before {
	float: right !important;
	padding-right: 0 !important;
	padding-left: 5px;
}
