/*
 * ___________.__   __      _____          __
 * \_   _____/|  | |  | __ /  _  \________/  |_  ____
 *  |    __)_ |  | |  |/ //  /_\  \_  __ \   __\/ __ \
 *  |        \|  |_|    </    |    \  | \/|  | \  ___/
 * /_______  /|____/__|_ \____|__  /__|   |__|  \___  >
 *         \/           \/       \/                 \/
 * https://www.elkarte.net
 * © ElkArte Forum contributors
 *
 * INTRODUCTION
 * This is the standard Elkarte rtl default theme adjustments
 * This file contains essential layout code only.
 * Colors, gradients, images, etc are in rtl_variantname.css.
 *
 * -------------------------------------------------------
 *
 *		$GENERAL.............Global resets, clearfixes, etc.
 *		$COMMON..............Common classes to drive you bonkers.
 *		$BBC.................Quotes, code blocks, BBC styles.
 *		$AJAX................The "loading" bar (quick edit, etc).
 *
 *		$MAIN................Forum header, wrapper, and footer.
 *		$MENUS...............Main and secondary menus.
 *		$BREADCRUMBS.........The navigation path breadcrumbs.
 *		$BUTTONS.............Most button strips.
 *		$PAGELINKS...........Page navigation links.
 *
 *		$TABLES..............Generic tables (memberlist, error log, etc).
 *		$SETTINGS............Generic lists for settings pages.
 *		$BOARDS..............Board index, sub-boards, and message index.
  *     $MESSAGE.............Message (topic) Index
 *		$DRAG-N-DROP.........Post attachment area, including Drag and Drop
 *
 *		$TOPICS..............The display template (topic view), including send.
 *		$EDITOR..............Main editor (posts, events, polls) and topic summary.
 *		$MODERATE............Move topic, split topic, merge topic.
 *
 *		$PROFILE.............The profile areas.
 *		$PERSONAL............The personal messages (PM) areas.
 *		$CALENDAR............Wombats (and the calendar).
 *		$STATISTICS..........The statistics centre.
 *
 *		$HELP................Help pages, help icons and pop-ups, tooltips.
 *		$SEARCH..............Search pages, including memberlist search.
 *		$LOGIN...............Login and registration, maintenance mode.
 *
 *		$ERRORS..............Error messages.
 *		$PROGRESS............Nifty progress bars.
 *		$MEDIA...............Experimental media queries.
 * ------------------------------------------------------- */

/* -------------------------------------------------------
 *	$GENERAL
 * -------------------------------------------------------
 */

/* Use new class that is defined to suit, and with a sensible name. */
.submitbutton {
	justify-content: flex-start;
	text-align: left;
}

legend {
	margin-right: 1.6rem;
	margin-left: 0;
	padding-right: 2rem;
	padding-left: 0;
}

#news > h2 {
	float: right;
	margin: -.2rem 0 0 1.6rem;
}

/* -------------------------------------------------------
 *	$COMMON
 * -------------------------------------------------------
 */

.flow_flex_additional_row, .flow_flex_right, .below_table_data {
	margin-right: auto;
	margin-left: 0 !important;
}

/* Floats, overflows, clears. */
.floatright {
	float: left;
}

.floatleft {
	float: right;
}

.clear_left {
	clear: right;
}

.clear_right {
	clear: left;
}

.righttext {
	text-align: left;
}

.lefttext {
	text-align: right;
}

/* Styles for main headers. */
.category_header .icon {
	margin: 0 0 0 .4rem;
}

h2 a.collapse {
	float: left;
	margin:  .2rem 0 -.2rem .4rem;
}

.hdicon::before {
	margin: 0 0 0 .6rem;
}

.warningbox, .successbox, .infobox, .errorbox {
	padding-right: 4rem;
	background-repeat: no-repeat;
	background-position: 99% 50% !important;
}

/* -------------------------------------------------------
 *	$BBC
 * -------------------------------------------------------
 */

.bbc_list {
	padding: 0 3.5rem 0 0;
	text-align: right;
}

.bbc_footnotes {
	padding: .4rem 0 .4rem .5rem;
}

.bbc_img.floatleft {
	padding: .2rem 0 .2rem 1rem;
}

.bbc_img.floatright {
	padding: .2rem 1rem .2rem 0;
}

/* -------------------------------------------------------
 *	$AJAX
 * -------------------------------------------------------
 */

/* The "Loading" bar for quick edit, etc. */
#ajax_in_progress {
	right: 0;
	left: auto;
}

/* Spinner and close button */
#ajax_in_progress a, #ajax_in_progress span {
	margin-right: 1.6rem;
}

/* -------------------------------------------------------
 *	$MAIN.
 * -------------------------------------------------------
 */

#search_form_menu {
	right: auto;
	left: 0;
}

#search_form_menu button[type="button"] {
	border-radius: .4rem 0 0 .4rem;
}

#search_form_menu select, #search_form_menu input, #search_form_menu button[type="submit"] {
	margin-right: .1rem;
	margin-left: -.1rem;
	border-right: 1px solid;
	border-left: none;
}

#search_form {
	padding: 1rem .8rem .4rem .4rem;
}

#search_form button {
	margin-right: -.4rem;
	margin-left: 0;
}

#search_form select {
	width: 16rem;
	border: 1px solid;
	border-left: none;
}

#search_form select:focus {
	border: 1px solid;
	border-left: none;
}

#search_form input[type="submit"] {
	border-radius:  .2rem 0 0  .2rem;
}

.rightheader #forumtitle .forumlink {
	float: left;
}

/* Float these items to the right. */
#logobox, .rightheader #logobox {
	float: left;
}

.rightheader #logobox, .rightheader #logo {
	float: right;
}

/* Tweak the logo */
#logo {
	margin: 0 0 0 .8rem;
}

.rightheader #logo {
	margin: 0 .8rem 0 0;
}

/* The footer with copyright links etc. */
#footer_section li {
	padding-right: 0;
	padding-left: .4rem;
}

#footer_section .rssfeeds {
	float: left;
}

/* -------------------------------------------------------
 *	$MENUS
 * -------------------------------------------------------
 */

.listlevel1#button_profile {
	margin-right: auto;
	margin-left: 0;
}

.i-menu-profile::before {
	transform: translate(.6rem, -.2rem);
}

#main_menu .subsections .linklevel1::after, #main_menu .subsections:hover .linklevel1::after {
	margin-right: .4rem;
	margin-left: 0;
}

/* Tricky PM indicator. Define it carefully */
.pm_indicator, .button_indicator {
	right: auto;
	left: -0.6rem;
	float: right;
	border-radius: .4rem .4rem 0 .4rem;
}

#dropdown_menu_1 .pm_indicator {
	margin-left: .2rem;
}

/* Admin menu icons. */
.linklevel2 > img {
	margin: 0 -.4rem 0 0;
}

/* Level 2: subsection indicators. */
.listlevel2.subsections .linklevel2:after,
#menu_sidebar .subsections .linklevel1:after,
#menu_sidebar .subsections:hover .linklevel1:after {
	right: auto;
	left: .6rem;
	content: "\2190";
}

.listlevel2.subsections .linklevel2 {
	margin-left: 3.2rem;
}

/* Styles for sidebar menus.
------------------------------------------------------- */

#menu_sidebar {
	float: right;
	padding: 0 0 1.6rem 1rem;
}

/* Same styling for Level 1 and Level 2. */
#menu_sidebar .listlevel1:hover .menulevel2,
#menu_sidebar .listlevel1.sfhover .menulevel2 {
	right: 17rem;
	left: auto;
}

/* Reverse the menu flyout direction for the left side buttons so they stay on page */
.listlevel1#button_profile .menulevel2 {
	right: auto;
	left: 0;
}

/* Level 3: drop menu positioning, move to a a flyout position to the left of
   it's disclose arrow */
.menulevel3 {
	margin: -2.4rem calc(100% - .6rem) 0 0;
}

/* -------------------------------------------------------
 *	$BREADCRUMBS
 * -------------------------------------------------------
 */

.breadcrumb.rtl {
	flex-direction: row-reverse;
}

.breadcrumb .crumb:last-child {
	padding-right: 3rem;
	padding-left: 2.8rem;
	border-radius: calc(var(--arrow) / 6) 0 0 calc(var(--arrow) / 6);
}

.breadcrumb .crumb:first-child {
	padding-right: 2rem;
	padding-left: .6rem;
	border-radius: 0 .4rem .4rem 0;
}

.breadcrumb .crumb {
	padding: 0 4rem 0 .6rem;
}

.breadcrumb .crumb::after {
	right: auto;
	left: calc(var(--arrow) / 2 * -1);
	transform: scale(0.7071) rotate(-135deg);
}

/* -------------------------------------------------------
 *	$BUTTONS
 * This section contains code for the quickbuttons (quote, quick edit, etc)
 * and for the buttonlist class (reply, add poll, notify, etc).
 * These classes share some styling.
 * Declarations are amalgamated where styling is shared.
 * -------------------------------------------------------
 */

.buttonlist.rtl {
	flex-direction: row-reverse;
}

.buttonlist li {
	margin: 0 .2rem 0 0;
}

/* The quick buttons like quote, quick edit, etc. */
.quickbuttons {
	margin: .8rem auto .6rem 0;
}

/* Follow ups need it a bit different, this button is in the keyinfo line */
.follow_ups {
	margin: -1rem 0 0 2.4rem;
}

.quickbuttons .modified {
	margin-left: auto;
	padding: 0 .6rem 0 0;
}

.quickbuttons .linklevel1 {
	float: right;
	padding: 0 .6rem 0 1.2rem;
}

/* Radius left end of the first (Quote) button */
.quickbuttons li:first-child a, .quickbuttons li.last a {
	border-radius: 0 .4rem .4rem 0;
}

/* Radius right end of the last button. */
.quickbuttons li:last-child, .quickbuttons li:last-child a {
	border-radius: .4rem 0 0 .4rem;
	margin-right: -.3rem;
}

/* Quickbutton, Buttonlist, and follow ups drop menus, flyout to the left.
   These are the More... flyout menus on the message display page */
.quickbuttons .menulevel2, .buttonlist .menulevel2 {
	right: auto;
	left: 0;
}

.quickbuttons .menulevel2, .follow_ups .menulevel2, .buttonlist .menulevel2 {
	text-align: right;
}

.follow_ups .menulevel2 {
	left: auto;
	right: 0;
}

/* -------------------------------------------------------
 *	$PAGELINKS
 * -------------------------------------------------------
 */

.pagelinks :first-child {
	border-radius: 0 .2rem .2rem 0;
}

.pagelinks :last-child {
	border-radius: .2rem 0 0 .2rem;
}

.pagesection .buttonlist {
	margin-right: auto;
	margin-left: 0;
}

/* our buddies &laquo; &raquo; */
.small_pagelinks li:first-child::before {
	font-size: var(--font14);
	position: absolute;
	right: -1.2rem;
	content: '\2B9E';
}

.small_pagelinks li:last-child::after {
	font-size: var(--font14);
	position: absolute;
	left: -1.4rem;
	content: '\2B9C';
}

.small_pagelinks {
	float: left;
}

/* Globally accessible top/bottom links. */
#gotop, #gobottom {
	right: 0;
	left: auto;
	border-radius: 2rem 0 0 0;
}

/* Skip navigation link. */
#top {
	right: 4.5rem;
	left: auto;
}

#gobottom {
	border-radius: 0 0 0 2rem;
}

/* -------------------------------------------------------
 *	$TABLES
 * -------------------------------------------------------
 */

.table_head > th {
	text-align: right;
}

/* GenericList */
.sort_by_item .sort, .sort {
	margin: 0 .4rem -.4rem 0;
}

/* -------------------------------------------------------
 *	$SETTINGS
 * -------------------------------------------------------
 */

dl.settings {
	clear: left;
}

dl.settings dt {
	float: right;
}

dl.settings dt.context {
	float: right;
}

dl.settings dd {
	float: left;
}

dl.settings img {
	margin: 0 0 0 1rem;
}

/* -------------------------------------------------------
 *	$BOARDS
 * -------------------------------------------------------
 */

.category_boards .board_icon, .category_boards .board_info, .category_boards .board_avatar, .category_boards .board_latest, .category_boards .board_stats {
	padding: 1rem .6rem .4rem .6rem;
}

/* The posting icons and mark read button. */
#posting_icons {
	margin: 0 .4rem 1.6rem 0;
}

#sortby {
	left: calc(100% - 4rem);
	right: auto;
	transform: translateX(50%) rotateX(-90deg);
}

/* Checkbox when quick moderation is set to checkbox, tweak to align */
#unread_sort #sort_by input[type="checkbox"] {
	margin-left: .8rem;
	margin-right: 0;
}

/* -------------------------------------------------------
 *	$MESSAGE
 * -------------------------------------------------------
 */

#description_board .generalinfo, #forumposts .generalinfo {
	padding: .4rem 1.2rem .4rem .4rem;
}

/* Indicator if you posted in this topic */
.fred {
	float: right;
}

.fred::before {
	right: -.2rem;
}

.topic_info {
	border-left: 1px solid;
}

.topic_latest .board_avatar {
	float: right;
}

.topic_latest .i-last_post {
	float: left;
}

/* sticky / locked icons for the upper right of the topic_info div */
.sticky_row .topic_info::before,
.locked_row .topic_info::before,
.sticky_row .topic_details::before,
.locked_row .topic_details::before,
.locked_row.sticky_row .topic_info::before,
.locked_row.sticky_row .topic_info .topic_name::before {
	right: .5rem;
	float: left;
}


#message_index_jump_to.qaction_row {
	float: left;
}

#topic_icons {
	float: right;
}

/* -------------------------------------------------------
 *	$TOPICS ... The display template (topic view)
 * -------------------------------------------------------
 */

.edit_event {
	margin: 0 0 0 .4rem;
}

#poll_main #question, #poll_main .poll_main input {
	margin-right: 3rem;
	margin-left: 0;
}

#poll_main .poll_main li {
	padding-right: 3rem;
	padding-left: 0;
}

#poll_main .poll_main, dl.poll_options {
	padding: 0 .8rem .8rem 0;
}

#poll_options .options {
	padding: .8rem 2.5rem 0 3rem;
}

#poll_options .poll_options dt {
	width: 33%;
	padding: 0 1.2rem 0 0;
}

#pollquestion {
	padding: 0 1.4rem .6rem 0;
}

/* Start of nifty flyout menu for the poster info.
   Note: this can be a bit particular with input elements, links, icons */
.poster .menulevel2 {
	text-align: right;
}

/* Top speech pointer needs to be shifted */
.poster .listlevel1.subsections::after {
	right: 45%;
}

/* Icon tweaks in the dropdown */
.listlevel2.warning::before:hover,
.listlevel2.poster_ip::before:hover {
	margin: 0 -.4rem 0 .4rem;
}

.warning .linklevel2 .warnicon {
	margin: 0 0 0 .4rem;
}

/* Hidden poster information option, instead you get a flyout menu link in the keyinfo area */
.poster.poster2 .name {
	padding: 0 0 0 .8rem;
}

.keyinfo .post_subject {
	margin-right: auto;
	margin-left: .6rem;
}

.keyinfo .messageicon {
	margin: 0 0 0 .6rem;
}

.nextlinks {
	margin-right: auto;
	margin-left: initial;
}

/* The actual message, what the entire software package is about */
.messageContent {
	padding: 1.6rem .8rem .4rem 1.6rem;
}

/* Container attachments (thumbnail or full) and info */
.attachment_block, .attachment {
	margin: 0 0 1.6rem .4rem;
}

.emoji_tpl {
	padding: 0 0 0 .13rem;
}

/* The jump to box */
#display_jump_to {
	margin-left: initial;
	margin-right: auto;
}

#post_confirm_buttons > input {
	margin-right: 0;
	padding: 0 .8rem 0 1.4rem;
}

#post_confirm_buttons > input:first-of-type {
	border-radius: 0 .4rem .4rem 0;
}

#post_confirm_buttons > input:last-of-type {
	border-radius: .4rem 0 0 .4rem;
}

/* Added by JS when they try to submit with missing fields */
.requiredfield::before {
	right: 5%;
}

.requiredfield {
	right: 5%;
}

/* -------------------------------------------------------
 *	$EDITOR
 * -------------------------------------------------------
 */
/* The main post editor section. */

div.sceditor-group, div.sceditor-insertemoticon {
	clear: both;
}

#post_header dt {
	float: right;
}

#post_header dd {
	float: right;
}

#post_header img {
	padding: 0 .5rem .2rem 0;
}

ul.post_options {
	margin: 0 1.2rem 0 0;
}

ul.post_options li {
	float: right;
}

#postAttachment2 dd {
	margin: .4rem 1.2rem .4rem 0;
}

.draftautosave {
	text-align: left;
}

.post_verification #verification_control {
	margin: .4rem 1.2rem .4rem 0;
}

/* The event editor section. */
#event_main #datepicker, #event_main #caption_evtitle {
	padding-top: 0.8rem;
	padding-right: 1.6rem;
	padding-left: 0;
}

#event_main .event_options {
	padding: 1.6rem 1.6rem 0.8rem 0.8rem;
}

#event_main select, .event_options li select,
#event_main ul.event_options li .input_check {
	margin: 0 0 0 1.2rem;
}

#topic_summary .quickbuttons {
	margin: 0 auto 0 0;
}

/* The poll editor section. */
#poll_main #question {
	margin-right: 3.2rem;
	margin-left: auto;
}

#poll_main .poll_main li {
	padding-right: 1.6rem;
	padding-left: 0;
}

#poll_main .poll_main input {
	margin-right: 1.6rem;
	margin-left: auto;
}

#poll_main .poll_main, dl.poll_options {
	padding: 0 .8rem .8rem 0;
}

#poll_options .poll_options dt {
	padding: 0 1.2rem 0 0;
}

#poll_options .poll_options dd input {
	margin-right: 0;
}

.shortcuts {
	margin-right: unset;
	margin-left: auto;
}

/* -------------------------------------------------------
 *	$MODERATE
 * -------------------------------------------------------
 */
/* The move topic section. */
.split_topics, .move_topic {
	text-align: right;
}

/* -------------------------------------------------------
 *	$TABS
 * -------------------------------------------------------
 */

/* Styles for the profile summary tabs, or any jquery ui tabs */
.ui-tabs .ui-tabs-nav li {
	float: right !important;
}

/* -------------------------------------------------------
 *	$PROFILE
 * -------------------------------------------------------
 */
.profileblock_left {
	float: right;
}

.profileblock_right {
	float: left;
}

.profileblock ul li {
	float: right;
	margin-right: 0;
	margin-left: .4rem;
}

/* The basic user info on the left */
#basicinfo {
	float: right;
}

#basicinfo .content {
	padding-right: 3rem;
	padding-left: 0;
}

.profileblock .cf_icons {
	float: right;
	margin: .4rem 0 0 .4rem;
}

#detailedinfo {
	float: left;
}

#detailedinfo dl, #tracking dl, .profileblock dl {
	clear: left;
}

#detailedinfo dt, #tracking dt, .profileblock dt {
	float: right;
}

#detailedinfo dd, #tracking dd, .profileblock dd {
	float: right;
}

#avatar_server_stored div {
	float: right;
	padding-right: 0;
	padding-left: .4rem;
}

#main_admsection #basicinfo h4 {
	float: right;
}

#main_admsection #basicinfo .avatar {
	float: left;
}

#main_admsection #basicinfo ul {
	clear: right;
}

#main_admsection #basicinfo #userstatus {
	clear: right;
}

/* Profile statistics */
#generalstats .content dt {
	float: right;
}

#generalstats .content dd {
	float: right;
}

#show_attachments th {
	text-align: right;
}

.activity_stats li {
	float: right;
}

.activity_stats li .bar span {
	right: -1555em;
	left: auto;
}

/* Most popular boards by posts and activity */
#popularposts {
	float: right;
}

#popularactivity {
	float: left;
}

#popularposts div.content dt, #popularactivity div.content dt {
	float: right;
}

#popularposts div.content dd, #popularactivity div.content dd {
	float: right;
}

.profile_pie {
	float: right;
	margin: 0 0 0  1.2rem;
}

/* View posts */
.topic .time {
	float: left;
}

.counter {
	float: left;
}

.topic .mod_icons {
	margin-right: 0;
	margin-left:  1.2rem;
	text-align: left;
}

#creator dt {
	float: right;
}

#creator dd {
	float: left;
	margin: 0 .2rem 1rem 0;
}

.ignoreboards li {
	float: right;
}

/* Pick theme */
#pick_theme {
	float: right;
}

/*Issue a warning*/
#warndiv {
	margin: 0 5% 1.6rem 0;
}

/* -------------------------------------------------------
 *	$PERSONAL
 * -------------------------------------------------------
 */
#personal_messages .capacity_bar {
	margin: .6rem  1.2rem 0 0;
}

.pm_date {
	text-align: right;
}

.pm_subject {
	text-align: right;
}

.pm_from {
	text-align: right;
}

#to_item_list_container div, #bcc_item_list_container div {
	float: right;
	margin-right: 0;
	margin-left: 1rem;
}

div.labels {
	text-align: left;
}

.label_pms {
	float: left;
}

.label_pms li {
	margin-right: 0.8rem;
	margin-left: 0;
}

/* -------------------------------------------------------
 *	$CALENDAR
 * -------------------------------------------------------
 */
#month_grid {
	float: right;
	padding: 0 0 0 1.5rem;
}

.previous_month, .next_month {
	float: right;
}

.next_month {
	float: left;
}

.weeklist {
	text-align: right;
}

.weeklist h4 {
	float: right;
}

/* Use the old one true layout trick here. */
.weeklist .content, .weeklist .calendar_today {
	margin: 0 10rem -9.5rem 0;
}

/* -------------------------------------------------------
 *	$MENTIONS
 * -------------------------------------------------------
 */


/* -------------------------------------------------------
 *	$STATISTICS
 * -------------------------------------------------------
 */
.statistics .category_header {
	margin: 0 50.5% 0 0.5%;
}

.stats {
	margin:  1.2rem 50%  1.2rem 0;
}

.stats.floatleft {
	clear: right;
}

.stats dt {
	float: right;
	margin: 0 0 .4rem 2%;
}

#top_row .stats dd, .statsbar {
	float: left;
	padding: 0 0 0 .4rem;
}

.statsbar .bar {
	float: right;
	margin: 0 0 0 .4rem;
}

/* Absolute positioning stops these breaking the bars on narrow screens. */
.statsbar .righttext {
	right: auto;
	left: 0;
}

#stats .lefttext {
	text-align: right;
}

#stats .stats_month {
	padding: .4rem 3rem .4rem .8rem;
}

#stats .stats_day {
	padding: .4rem 6rem .4rem .8rem;
}

/* -------------------------------------------------------
 *	$HELP
 * -------------------------------------------------------
 */

/* Styles for the help section. */
#helpmain ul {
	margin: 0 2.5rem 0 0;
}

/* Yes some ugly importants since we don't have specific admin rtl css */
.settings .help .icon {
	position: absolute !important;
	margin: .1rem -2.5rem 0 0 !important;
}

.admincenter .content .settings {
	padding: 0 .8rem 0 0 !important;
}

.helpicon, a.helpicon {
	margin: 0 0 0 .4rem !important;
}

/* Styles for the tooltips. */
#site_tooltip {
	right: -9999px;
	left: auto;
}

/* The darkened background for help pop-ups. */
.popup_container {
	right: 0;
	left: auto;
}

/* The hide icon (red cross). */
.popup_heading .hide_popup {
	float: left;
}

/* -------------------------------------------------------
 *	$SEARCH
 * -------------------------------------------------------
 */

/* The advanced search section. */
#advanced_search dt {
	float: right;
	text-align: left;
}

#advanced_search dd {
	float: right;
	text-align: right;
}

/* The search results page. */
.search_results_posts .buttons {
	padding: .4rem 0 0  1.2rem;
}

.search_results_posts .quick_mod {
	right: auto;
	left: 0;
}

/* The memberlist. */
#mlsearch {
	margin-right: auto;
	margin-left: unset;
}

#mlsearch_options.nojs li:nth-child(odd) {
	float: right;
}

#mlsearch_options.nojs li:nth-child(even) {
	float: left;
}

#mlsearch_options .mlsearch_option .input_check {
	margin-right: 0.8rem;
	margin-left: 0;
}

/* -------------------------------------------------------
 *	$LOGIN
 * -------------------------------------------------------
 */

/* Styles for the login areas. */
.login dl {
	clear: left;
}

.login dt {
	float: right;
	text-align: left;
}

.login dd {
	float: left;
	text-align: right;
}

/* Additional register fields. */
.register_form {
	clear: left;
}

.register_form dt {
	float: right;
}

.register_form dd {
	float: right;
}

.coppa_contact {
	margin-right: 5ex;
	margin-left: 0;
}

/* -------------------------------------------------------
 *	$ERRORS
 * -------------------------------------------------------
 */

/* Styles for (fatal) errors. */
.errorbox {
	padding: .8rem 4.5rem .8rem 1rem;
	text-align: right;
}

.errorbox .listlevel1,
.warningbox .listlevel1 {
	padding-right: 1.6rem;
	padding-left: 0;
}

.errorbox .alert {
	float: right;
}

.errorbox .smalltext {
	padding-right: 1.6rem;
	padding-left: 0;
}

/* -------------------------------------------------------
 *	$PROGRESS
 * -------------------------------------------------------
 */

/* -------------------------------------------------------
 *	$MEDIA
 * -------------------------------------------------------
 */

/* This one does 825 screens at default font size.
   -------------------------------------------------------------------------------------------*/

@media screen and (max-width: 51.5em) {
	#main_menu .linklevel1 {
		margin-right: 0;
		margin-left: .4rem;
	}

	.board_description, .moderators, .childboards {
		margin: 0 .8rem 0 0;
	}

	/* Playing silly buggers with a sidebar menu option for narrow screens. */
	#main_container {
		padding: 0  1.2rem 0 0;
	}

	#menu_sidebar {
		right: -1rem;
		left: auto;
	}

	#menu_sidebar:hover {
		padding: 1rem 0.8rem 1.6rem 1.6rem;
	}

	.quickbuttons .modified {
		text-align: right;
	}

	#forumposts .nextlinks {
		text-align: left;
	}

	.ignoreboards.floatright {
		float: none;
	}

	/* our stats page */
	.statistics .category_header {
		margin: 0;
	}

	.stats {
		float: none;
		margin: 0;
	}
}

/* This one does 540 and smaller screens at default font size.
   -------------------------------------------------------------------------------------------*/

@media screen and (max-width: 33.750em) {
	dt, dd, dd label, .login dt, #advanced_search dt {
		text-align: right;
	}

	dd {
		padding-right: 8% !important;
		padding-left: 0;
	}

	#main_content_section {
		padding: .1rem .4rem 1.6rem .2rem;
	}

	.post {
		margin: 0 .4rem 0 0;
	}

	#wrapper {
		padding-right: .2rem;
		padding-left: .2rem;
	}

	#gotop {
		margin-right: 2.4rem;
		border-radius: .8rem 0 0 0;
	}

	#gobottom {
		border-radius: 0;
	}

	#message_index_jump_to {
		float: none;
	}

	.postarea {
		display: block;
		margin: 0;
	}

	h2 .views_text, h2 .nextlinks {
		display: block;
		float: none;
	}

	.childboards {
		margin: 0 .4rem;
	}

	.board_name {
		margin: 0;
		padding: 0 3.5rem 0 0;
	}

	#basicinfo, #detailedinfo {
		float: none;
	}

	.admin_menu li {
		float: right;
	}

	#main_menu {
		clear: right;
	}

	.listlevel2:hover .menulevel3, .listlevel2.sfhover .menulevel3 {
		right: -.4rem;
		left: auto;
	}

	#main_menu li ul li, .admin_menu li ul li {
		float: right;
	}

	ul.poster {
		display: block;
		clear: both;
	}

	.poster {
		float: none;
	}

	.poster .listlevel1 {
		display: inline-block;
	}

	.poster li.avatar {
		float: right;
	}

	.poster .subsections {
		float: left;
		text-align: left;
	}

	.poster .membergroup {
		float: left;
	}

	.postarea, .forumtitle {
		padding: .2rem;
	}

	.quickbuttons {
		margin: .8rem .2rem .6rem .8rem;
	}

	#search_form {
		float: none;
		text-align: center;
	}

	.profileblock_left, .profileblock_right {
		float: none;
	}

	.pagesection div.floatright {
		float: none;
	}
}

/* -------------------------------------------------------
 *	$ADMIN
 * -------------------------------------------------------
 */

#manage_boards ul:nth-child(n+2) {
	padding-right: 3rem;
	padding-left: 0 !important;
}

#manage_boards li .floatleft:before {
	float: right !important;
	padding-right: 0 !important;
	padding-left: .5rem;
}
