/* nice wrapper for the Modify Themes section */
#admin_form_wrapper {
	border: 1px solid #CCCCCC;
	border-radius: 7px;
}
.description, .information {
	margin-top: 4px;
}
.popup_window.description {
	margin: 12% auto;
}
#support_resources, #credits_sections {
	margin: 0;
}
#manage_boards, #admincenter, h3 + .infobox {
	margin-top: 12px;
}
#admincenter>#admin_form_wrapper {
	margin-top: 0;
}

/* Styles for the manage boards section.
------------------------------------------------- */
#manage_boards h2 {
	margin-bottom: 6px;
}
#manage_boards .post_group, #manage_boards .regular_members {
	border-bottom: 1px dotted #000;
}
.ui-state-highlight {
	background-color: #f5f5f5;
	border: 1px dashed #298299;
}

/* Styles for the manage membergroups.
------------------------------------------------- */
.select_category, .select_all_box {
	font-style: italic;
	border-top: 1px dashed #CCCCCC;
	border-bottom: 1px dashed #CCCCCC;
}

/* jQuery Dialog
------------------------------------------------- */
.ui-dialog {
	border: 1px solid #999;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
	background-color: #f5f5f5;
	border-radius: 4px 4px 0 0;
}
.ui-dialog .ui-dialog-titlebar {
	background-color: #fafafa;
	border-radius: 4px 4px 0 0;
}
.ui-widget-overlay {
	background-color: #000;
	opacity: 0.3;
}

/* Styles for the quick search bar */
#quick_search {
	font-size: 0.786em;
}
#quick_search .input_text, #quick_search select, #quick_search .button_submit {
	margin: 5px 0 0 4px;
}
#quick_search .icon {
	margin: 12px 0 0 4px;
}

/* alternate row colors on Modify Themes,Copy a template */
.theme_options .windowbg2 {
	background: #fcfcfc;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.theme_options .windowbg {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

/* the help ? icon in various spots */
a.help .icon {
	margin: 0;
	padding: 0 6px 2px 0;
	vertical-align: middle;
}