/* nice wrapper for the Modify Themes section */
#admin_form_wrapper {
	border: 1px solid #CCCCCC;
	border-radius: 7px;
}

.description, .information {
	margin-top: 4px;
}

.popup_window.description {
	margin: 12% auto;
}

#support_resources, #credits_sections {
	margin: 0;
}

#manage_boards, .admincenter, h3 + .infobox {
	margin-top: 12px;
}

.admincenter > #admin_form_wrapper {
	margin-top: 0;
}

#admin_content .content {
	border: none;
	background: #F6F6F6;
	box-shadow: none;
}

#manage_maintenance div.content {
	border: none;
}

.admin_menu .subsections:hover .linklevel1:after {
	display: none;
}

#admin_main_section, .quick_tasks, #mod_main_section,
#support_credits, #admin_newsletters,
#core_features, #entry_form,
#groupForm, #mailqueue_stats, #manage_maintenance,
#new_group, #view_group, #admin_form_wrapper, .action_admin .generic_list_wrapper {
	border: 1px solid transparent;
}

/* Styles for the manage boards section.
------------------------------------------------- */

#manage_boards h2 {
	margin-bottom: 6px;
}

#manage_boards .post_group, #manage_boards .regular_members {
	border-bottom: 1px dotted #000000;
}

.ui-state-highlight {
	border: 1px dashed #298299;
	background-color: #F5F5F5;
}

/* Styles for the manage membergroups.
------------------------------------------------- */

.select_category, .select_all_box {
	font-style: italic;
	border-top: 1px dashed #CCCCCC;
	border-bottom: 1px dashed #CCCCCC;
}

/* jQuery Dialog
------------------------------------------------- */

.ui-dialog {
	border: 1px solid #999999;
	border-radius: 4px 4px 0 0;
	background-color: #F5F5F5;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}

.ui-dialog .ui-dialog-titlebar {
	border-radius: 4px 4px 0 0;
	background-color: #FAFAFA;
}

.ui-widget-overlay {
	opacity: 0.3;
	background-color: #000000;
}

/* Styles for the quick search bar */
#quick_search {
	font-size: 0.786em;
}

/* alternate row colors on Modify Themes,Copy a template */
.theme_options .content {
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	background: #FCFCFC;
}

/* the help ? icon in various spots */
a.help .icon {
	margin: 0;
	padding: 0 6px 2px 0;
	vertical-align: middle;
}

#quick_tasks li {
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

.sortable_smiley {
	border-bottom-color: #CCCCCC;
}
