.description, .information {
	margin-top: 4px;
}
.popup_window.description {
    margin: 12% auto;
}
#support_resources, #credits_sections {
	margin: 0;
}
#manage_boards, #admincenter {
	margin-top: 12px;
}
#admincenter>#admin_form_wrapper {
	margin-top: 0;
}
#manage_boards h2 {
	margin-bottom: 6px;
}

/* Styles for the manage boards section.
------------------------------------------------- */

#manage_boards .post_group, #manage_boards .regular_members {
	border-bottom: 1px dotted #000;
}

