/* ---------------
 * $SVG
 * ---------------
 */

/* These are generally the overlay color filters to apply to base black fill icons.
   You can create filters for any hex color using https://codepen.io/sosuke/pen/Pjoqqp
   NOTE --hexcode is not needed, it is simply to show the hex color being applied

   Some areas, for example board icons, are custom content as well
   */

/* Communication icons */
.i-envelope-o::before, .i-envelope-blank::before {
	filter: invert(63%) sepia(41%) saturate(641%) hue-rotate(157deg) brightness(86%) contrast(99%);
	--hexcode: #43A8DA;
}

.i-envelope::before {
	filter: invert(66%) sepia(32%) saturate(4068%) hue-rotate(2deg) brightness(107%) contrast(102%);
	--hexcode: #FFA500;
}

/* Help, info, warning (circular icons) */
.i-help::before, .i-question::before {
	filter: invert(31%) sepia(72%) saturate(1247%) hue-rotate(185deg) brightness(90%) contrast(93%);
	--hexcode: #1966B3;
}

/* green */
.i-warning-watch::before {
	filter: invert(52%) sepia(30%) saturate(3914%) hue-rotate(84deg) brightness(97%) contrast(88%);
	--hexcode: #1AB31A;
}

/* Was bar-chart */
.i-poll::before, .i-user::before {
	filter: invert(31%) sepia(72%) saturate(1247%) hue-rotate(185deg) brightness(90%) contrast(93%);
	--hexcode: #1966B3;
}

.i-comment::before, .i-profile::before,
.i-comment-blank::before, .i-comments-blank::before, .i-comments::before,
.i-bell-blank::before, .i-account::before, .i-register::before,
.i-cog::before, .i-sign-in::before, .i-sign-out::before, .i-phone::before {
	--hexcode: #43A8DA;
	filter: invert(63%) sepia(41%) saturate(641%) hue-rotate(157deg) brightness(86%) contrast(99%);
}

.i-bell::before {
	filter: invert(66%) sepia(32%) saturate(4068%) hue-rotate(2deg) brightness(107%) contrast(102%);
	--hexcode: #FFA500;
}

.i-home::before, .i-forum::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 32 32'%3E%3Cpath d='M32 18.45L16 6.03 0 18.45v-5.063L16 .967l16 12.42zM28 18v12h-8v-8h-8v8H4V18l12-9z'/%3E%3C/svg%3E");
	filter: invert(39%) sepia(99%) saturate(513%) hue-rotate(144deg) brightness(84%) contrast(101%);
	--hexcode: #008299;
}

.i-home.icon-menu::before {
	filter: invert(54%) sepia(47%) saturate(541%) hue-rotate(155deg) brightness(98%) contrast(101%);
	--hexcode: #43A8DA;
}

/* beSocial Board icons are from Font Awesome */
.i-board-redirect::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ACACAC' viewBox='0 0 56 56'%3E%3Cpath d='M34 28q0 1.03-.84 1.63l-14 10q-.97.7-2.07.15Q16 39.25 16 38V18q0-1.25 1.1-1.78 1.1-.56 2.06.16l14 10q.84.6.84 1.62zm6 15V13q0-.44-.28-.72T39 12H9q-.44 0-.72.28T8 13v30q0 .44.28.72T9 44h30q.44 0 .72-.28T40 43zm8-30v30q0 3.72-2.64 6.36T39 52H9q-3.72 0-6.36-2.64T0 43V13q0-3.72 2.64-6.36T9 4h30q3.72 0 6.36 2.64T48 13z'/%3E%3C/svg%3E");
}

.i-board-new::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2390CCE9' stroke='%23AEAEAE' stroke-width='.25em' viewBox='-4 0 62 62'%3E%3Cpath d='M56 28q0 5.44-3.75 10.05t-10.2 7.28T28 48q-2.2 0-4.53-.25-6.2 5.47-14.38 7.56-1.6.5-3.6.7-.6.1-1-.2t-.57-.9v-.02q-.1-.12 0-.37t.06-.3.14-.3l.2-.3.2-.26.27-.27q.23-.27.98-1.1t1.1-1.2.95-1.23 1-1.6.84-1.85.8-2.38q-4.88-2.8-7.7-6.9T0 28q0-4.06 2.22-7.76t5.97-6.4 8.9-4.26T28 8q7.63 0 14.06 2.67t10.2 7.28T56 28z'/%3E%3C/svg%3E");
}

.i-board-sub::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23CFCFCF' stroke='%23AEAEAE' stroke-width='.25em' viewBox='-4 0 62 62'%3E%3Cpath d='M56 28q0 5.44-3.75 10.05t-10.2 7.28T28 48q-2.2 0-4.53-.25-6.2 5.47-14.38 7.56-1.6.5-3.6.7-.6.1-1-.2t-.57-.9v-.02q-.1-.12 0-.37t.06-.3.14-.3l.2-.3.2-.26.27-.27q.23-.27.98-1.1t1.1-1.2.95-1.23 1-1.6.84-1.85.8-2.38q-4.88-2.8-7.7-6.9T0 28q0-4.06 2.22-7.76t5.97-6.4 8.9-4.26T28 8q7.63 0 14.06 2.67t10.2 7.28T56 28z'/%3E%3C/svg%3E");
}

.i-board-off::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23AEAEAE' viewBox='0 0 56 56'%3E%3Cpath d='M28 12q-6.38 0-11.92 2.17t-8.8 5.86T3.98 28q0 3.5 2.23 6.67t6.3 5.5l2.75 1.55-.85 3q-.76 2.84-2.2 5.37 4.76-2 8.6-5.38l1.34-1.2 1.8.2Q26.08 44 28 44q6.37 0 11.92-2.17t8.8-5.86T52 28t-3.27-7.97-8.8-5.86T28 12zm28 16q0 5.44-3.75 10.05t-10.2 7.28T28 48q-2.2 0-4.53-.25-6.2 5.47-14.38 7.56-1.57.48-3.6.7h-.16q-.47 0-.84-.3t-.5-.86v-.02q-.1-.1 0-.36t.07-.3.14-.3l.2-.28.2-.27.27-.3q.22-.23.97-1.06t1.08-1.2.98-1.23 1-1.6.84-1.84.8-2.37q-4.92-2.8-7.74-6.9T0 28q0-5.44 3.75-10.05t10.2-7.28T28 8t14.06 2.67 10.2 7.28T56 28z'/%3E%3C/svg%3E");
}