/* INTRODUCTION
 *
 * This is a very basic version of the Elkarte default theme.
 * It is intended primarily as a "clean slate" for custom theming.
 * This is eye candy only. All the layout code is in index.css.
 *
 * All theme variants depend on the layout code for stability.
 * It is better to copy code to a variant CSS file for testing.
 *
 * ---------------
 * $CONTENTS - still a bit WIP. @todo
 *
 *      $CONSTANTS...........CSS Vars for easy updates
 *		$GENERAL.............Global resets, clearfixes, etc.
 *		$BBC.................Quotes, code blocks, BBC styles.
 *		$AJAX................The "loading" bar (quick edit, etc).
 *
 *		$MAIN................Forum header, wrapper, and footer.
 *		$MENUS...............Main and secondary menus.
 *		$LINKTREE............The breadcrumbs.
 *		$BUTTONS.............Most button strips.
 *		$PAGELINKS...........Page navigation links.
 *
 *		$TABLES..............Generic tables (memberlist, error log, etc).
 *		$SETTINGS............Generic lists for settings pages.
 *		$BOARDS..............Board index, sub-boards, and message index.
 *      $MESSAGE.............Message (topic) Index
 *		$DRAG-N-DROP.........Post attachment area, including Drag and Drop
 *
 *		$TOPICS..............The display template (topic view), including send.
 *		$EDITOR..............Main editor (posts, events, polls) and topic summary.
 *		$MODERATE............Move topic, split topic, merge topic.
 *
 *		$PROFILE.............The profile areas.
 *		$PERSONAL............The personal messages (PM) areas.
 *		$CALENDAR............The calendar
 *		$STATISTICS..........The statistics centre.
 *
 *		$HELP................Help pages, help icons and pop-ups, tooltips.
 *		$SEARCH..............Search pages, including memberlist search.
 *		$MEMBERLIST..........The memberlist table.
 *		$LOGIN...............Login and registration, maintenance mode.
 *
 *		$BOXES...............Message boxes (error, warning, info, etc).
 *		$PROGRESS............Nifty progress bars.
 *      $SVG.................Filter colors for the SVG icons
 *		$MEDIA...............Experimental media queries.
 */

/* ---------------
 *	$CONSTANTS
 * ---------------
 */
:root {
	--links: #008299; /* normal links */
	--bbclinks: #377828; /* bbc links */
	--title: #43A8DA; /* forum title, board names (mid green) */
	--top_section_border: #CCCCCC; /* Top and wrapper border */
	--topic_name: #585858; /* Subject line, poster name and keyinfo */
	--pure_green: #008000; /* Success, progress mainly background | border */
	--menu_button_active: #9DD53A; /* Link, list, breadcrumb active/hover colors (gradient and color) */
	--menu_button_active_2: #7CBC0A; /* Compliment gradient color for above */
	--menu_button_active_hover: #6DB3F2; /* Link, list, breadcrumb active/hover colors (gradient and color) */
	--menu_button_active_hover_2: #1E69DE; /* Compliment gradient color for above */
	--menu_border: #AFAFAF; /* Hover / active border */
	--menu_hover_background: #7BB128; /* A background used on some menu hovers */
	--medium_dark_green: #7BB128; /* New button, other */
	--me: #50AA3A; /* me and footnotes */

	--icon_online_grad: #B4E391; /* part of icon online gradient */
	--valid: #EBFFD8; /* very light green, used as valid background color */
	--successbox: #EEFFEE; /* Yet another very light green */
	--information: #F0F6F0; /* very light green, information background */

	--attention: #A80000; /* Various red notice and error sections */
	--alert: #FF0000; /* error, alert, ... text | border */
	--search_highlight: #FF7200; /* Search Results Highlight */
	--warn: #FFA500; /* moderation, warning, ... text | border | background */
	--indicator: #F3B200; /* PM, Likes indicator */
	--invalid: #FFEEEE; /* very pale red, used as invalid input color */

	--category_header_text: #777777; /* Text in the category bars */
	--user_highlight: #7BB128; /* User highlighted text */
	--link_shadow: #CEDCCB; /* BBC link underline */
	--notice: #FFF5CD; /* This is a light yellow, approve bg, warn bg etc */
	--sticky_row: #F0F0FF; /* sticky row background */
	--locked_row: #F7F7F7; /* locked row background */
	--status_bar_border: #A9CCD1; /* Status bar in attachment upload progress */

	--progress_bar_blue: #43A8DA; /* Blue progress bar, as in maintance */
	--birthday: #920AC4; /* Birthday color on calendar */
	--holiday: #555080; /* Holiday color on calendar */
	--currentday: #EBFFD8; /* Calendar current day */
	--infobox_border: #3A87AD; /* Light shade of blue in infobox */
	--infobox: #D9EDF7; /* Very light blue, infobox background */

	--primary_background: #4D4F54; /* HTML & footer Background */
	--content_background: #FEFEFE; /* background for many divs, input controls, etc */
	--grey_background: #F6F6F6; /* Various uses, notably menu / tab hovers */
	--mid_grey_background: #EEEEEE; /* Various uses where a slightly darker background is needed */
	--dark_grey_background: #989898; /* A bit darker, useful in some places */

	--dark_text: #111111; /* Text when high contrast is needed on light background */
	--hover_text: #333333; /* When you need a darker text color on hover or elsewhere */
	--body_text: #4D4F53; /* Body text, text areas, editor, inputs, more */
	--menu_text: #585858; /* used for text in menus, breadcrumbs, buttons */
	--strong_text: #686868; /* like a demi bold */
	--footer_text: #CCCCCC; /* Text used in the footer which is a dark background */
	--footer_top_border: #444444; /* Border that separates footer from body */
	--primary_white: #FEFEFE; /* Used in shadows, backgrounds or text, many places */
	--primary_white_compliment: #E4E4E4; /* Used with --primary_white for gradients */

	--body_grad_1: #EEEEEE; /* Body Gradient */
	--body_grad_2: #EEEEEE; /* Body Gradient */
	--category_header_grad_1: #FAFAFA; /* 1-2 main header */
	--category_header_grad_4: #EBEBEB; /* end of */

	--topnav_grad_1: #4D4F53; /* Top Menu nav bar background */
	--topnav_grad_2: #333333; /* Top Menu nav bar background */

	--border_focus: #999999; /* Hover and focus for inputs */
	--primary_border: #CCCCCC; /* Main border color used around most everything that has a border */
	--primary_border_top: #EEEEEE;
	--primary_border_left: #C7C7C7;
	--primary_border_bottom: #DDDDDD;
	--seconday_border: #AFAFAF; /* darker border */
	--seconday_border_top: #CFCFCF; /* complimentary for hover effects */
	--seconday_border_left: #BFBFBF; /* complimentary for hover effects */
	--seconday_border_bottom: #BBBBBB;

	--transparent: transparent; /* Used on borders to hide them but keep sizing intact */
	--box_shadow: #CCCCCC; /* Used on many box shadows */
	--opacity10: rgba(0, 0, 0, 0.1); /* Used as box shadows */
	--opacity20: rgba(0, 0, 0, 0.2);
	--opacity30: rgba(0, 0, 0, 0.3);
	--opacity40: rgba(0, 0, 0, 0.4);
	--opacity50: rgba(0, 0, 0, 0.5);

	/* font size px to em based on 14px base font (.875em) */
	--font9: 0.643rem;
	--font10: 0.714rem;
	--font11: 0.786rem;
	--font12: 0.857rem;
	--font13: 0.929rem;
	--font14: 1.0rem;
	--font15: 1.071rem;
	--font16: 1.142rem;
	--font17: 1.214rem;
	--font18: 1.286rem;
	--font19: 1.357rem;
	--font20: 1.429rem;
	--font21: 1.5rem;
	--font22: 1.571rem;
	--font23: 1.643rem;
	--font24: 1.714rem;
	--font25: 1.786rem;
	--font26: 1.857rem;
	--font27: 1.929em;
	--font28: 2.0rem;
	--font29: 2.072rem;
	--font30: 2.143rem;
}

/* -------------------------------------------------------
 * $GENERAL
 * -------------------------------------------------------
 */

/* Normal, standard links. */
a, a:link, a:visited,
/* Links that open in a new window. */
a.new_win:link, a.new_win:visited {
	text-decoration: none;
	color: var(--links);
}

/* Cursor declared here. Should not be required anywhere else. */
a:hover, a.new_win:hover {
	text-decoration: underline;
}

html, body {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
}

/* Stop white band under footer on short pages.
   This color should match $FOOTER background. */
html {
	background: var(--primary_background);
}

body, input, button, select, textarea, .editor {
	font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
}

body {
	padding-top: 35px;
	color: var(--body_text);
	background: var(--body_grad_1);
}

fieldset {
	border-color: var(--primary_border);
	background: var(--transparent);
	box-shadow: none;
}

legend {
	color: var(--hover_text);
}

input, button, select, textarea, .editor {
	color: var(--strong_text);
	border-color: var(--primary_border);
	background: var(--content_background);
}

input:hover, textarea:hover, button:hover, select:hover {
	border-color: var(--border_focus);
}

input:focus, textarea:focus, button:focus, select:focus, .editor:focus {
	border-color: var(--border_focus);
	outline: none;
}

textarea:hover, .editor:hover {
	color: var(--hover_text);
}

/* Give disabled text input elements a different background color. */
input[disabled].input_text {
	background: var(--mid_grey_background);
}

/* Common button styling. */
input[type="submit"], .drop_area_fileselect_text, button[type="submit"], input[type="button"],
	/* Anchors styled to look like buttons.
	   These have standard body text size. Can be chained with smalltext class. */
.linkbutton:link, .linkbutton:visited {
	color: var(--menu_text);
	border-color: var(--seconday_border);
	border-top-color: var(--seconday_border_top);
	border-left-color: var(--seconday_border_left);
	background-image: linear-gradient(to bottom, var(--primary_white), var(--primary_white_compliment));
	box-shadow: 1px 1px 2px var(--box_shadow);
}

.linkbutton:link, .linkbutton:visited {
	padding: .33em .4em;
}

/* Hover effects. */
input[type="submit"]:hover, button[type="submit"]:hover, input[type="button"]:hover,
.linkbutton:hover {
	color: var(--menu_text);
	border-color: var(--primary_border);
	border-top-color: var(--primary_border_top);
	border-left-color: var(--primary_border_left);
	background: var(--grey_background);
	box-shadow: 2px 1px 1px var(--opacity10) inset;
}

/* the new "button" */
.new_posts, .new_posts:visited, .new_posts:link {
	color: var(--primary_white);
	border-radius: 4px;
	background: var(--medium_dark_green);
}

/* approval indicator */
.require_approval {
	color: var(--primary_white);
	border-radius: 4px;
	background: var(--indicator);
}

/* Standard horizontal rule.. ([hr], etc.) */
hr {
	border-top-color: var(--seconday_border_bottom);
	border-bottom-color: var(--seconday_border_bottom);
	background: var(--mid_grey_background);
}

/* @todo - Test this everywhere. */
.content {
	border-color: var(--primary_border);
	background: var(--primary_white);
}

/* Styles for main headers. */
.category_header, .forum_category .category_header {
	font-size: var(--font20);
	font-weight: bolder;
	margin-bottom: 5px;
	padding: 5px 10px 0 10px;
	border: 1px solid var(--transparent);
	border-radius: 5px;
	background: var(--body_grad_1);
	text-shadow: 1px 1px 0 var(--primary_white_compliment);
}

/* Single ones a bit darker than board index ones. */
#forumposts .category_header, .content_category .category_header {
	border-color: var(--seconday_border);
	background: var(--category_header_grad_4);
}

/* Styles for subsection headers. */
.secondary_header {
	border: 1px solid var(--primary_border);
	border-top-color: var(--primary_border_top);
	background: var(--category_header_grad_1);
	text-shadow: 1px 1px 0 var(--primary_white);
}

.category_header a:link, .category_header a:visited {
	color: var(--category_header_text);
}

/* Upshrink image in the page top for the header collapse */
#collapse_button .linklevel1 {
	border-radius: 2px;
}

/* Custom highlighted text style for modern browsers.
   Nicer than default. Needs two separate rules. */
::-moz-selection {
	color: var(--primary_white);
	background: var(--user_highlight);
}

::selection {
	color: var(--primary_white);
	background: var(--user_highlight);
}

/* Other highlighted text, such as search results. */
.highlight {
	color: var(--search_highlight);
}

/* Sometimes there will be an error when you post */
.error {
	color: var(--alert) !important;
}

.border_error {
	color: var(--alert) !important;
}

/* Messages that somehow need to attract the attention. */
.alert {
	color: var(--alert);
}

/* Colors for warnings. */
.warn_mute {
	color: var(--alert);
}

.warn_moderate, .softalert {
	color: var(--warn);
}

.warn_watch, .success {
	color: var(--pure_green);
}

.moderation_link, .moderation_link:visited {
	color: var(--alert);
}

/* Used for sections that need somewhat larger corners */
.roundframe, .well {
	border-color: var(--primary_border);
	background: var(--content_background);
}

/* The generic wrapper thingy. */
.generic_list_wrapper {
	border-color: var(--primary_border);
}

.generic_list_wrapper .title_bar {
	border-bottom-color: var(--primary_white);
	background: none;
}

.generic_list_wrapper .information {
	border-bottom-color: var(--primary_white);
	background: none;
}

/* Styles used by the auto suggest control. */
.auto_suggest_div {
	border-color: var(--seconday_border);
}

.auto_suggest_div:focus {
	border-color: var(--seconday_border);
}

.auto_suggest_item {
	background: var(--mid_grey_background);
}

.auto_suggest_item_hover {
	color: var(--mid_grey_background);
	background: var(--menu_text);
}

/* -------------------------------------------------------
 * $BBC
 * -------------------------------------------------------
 */

/* The "Quote:" and "Code:" header parts... */
.codeheader, .quoteheader {
	color: var(--body_text);
	border-color: var(--primary_border);
	border-bottom: none;
	background: var(--primary_white);
}

.codeheader {
	border-top-color: var(--seconday_border);
}

/* A quote, perhaps from another post. */
.bbc_quote,
	/* A code block - maybe PHP ;) - shared styles. */
.bbc_code {
	border-color: var(--primary_border);
	border-top: none;
	background: var(--primary_white);
}

input[type=checkbox].quote-show-more {
	background: linear-gradient(to bottom, var(--transparent) 0%, var(--transparent) 40%, var(--primary_white) 100%);
}

/* Extra quote styling */
.bbc_quote, .quoteheader {
	box-shadow: 2px 2px 2px var(--box_shadow);
}

/* Extra code block styling. */
.bbc_code {
	border-top-color: var(--seconday_border);
	border-bottom-color: var(--seconday_border);
	background: var(--content_background);
}

/* Styling for BBC tags */
.bbc_link:link, .bbc_link:visited {
	color: var(--bbclinks);
	box-shadow: 0 -1px 0 var(--link_shadow) inset;
}

.bbc_link:hover {
	text-decoration: none;
	color: var(--bbclinks);
	box-shadow: 0 -1px 0 var(--medium_dark_green) inset;
}

/* Styling for tables inside posts */
.inner > .bbc_table_container > .bbc_table td,
.messageContent > .bbc_table_container > .bbc_table td {
	border-right: 1px solid var(--primary_border);
	border-bottom: 1px solid var(--primary_border);
}

.inner > .bbc_table_container > .bbc_table th,
.messageContent > .bbc_table_container > .bbc_table th {
	border-right: 1px solid var(--primary_border);
	border-bottom: 1px solid var(--seconday_border_bottom);
}

.inner > .bbc_table_container > .bbc_table td:last-child,
.inner > .bbc_table_container > .bbc_table th:last-child,
.messageContent > .bbc_table_container > .bbc_table td:last-child,
.messageContent > .bbc_table_container > .bbc_table th:last-child {
	border-right: none;
}

/* /me uses this a lot. (emote, try typing /me in a post.) */
.meaction {
	color: var(--me);
}

.spoiler {
	border-color: var(--primary_border);
	background-color: var(--mid_grey_background);
}

div.bbc_footnotes {
	border-top-color: var(--seconday_border);
}

.bbc_footnotes .target:target {
	background-color: var(--user_highlight);

}

sup.bbc_footnotes, sup.bbc_footnotes a {
	color: var(--me);
}

/* Prevent the footnote named anchor from hiding under the menu */
.bbc_footnotes div::before {
	display: block;
	visibility: hidden;
	height: 75px;
	margin-top: -75px;
	content: " ";
}

/* -------------------------------------------------------
 *	$AJAX
 * -------------------------------------------------------
 */

/* The "Loading" bar for quick edit, etc. */
#ajax_in_progress, .ajax_infobar {
	color: var(--top_section_border);
	border-bottom-color: var(--top_section_border);
	background: var(--content_background);
	background-repeat: no-repeat;
	background-position: 6px 50%;
	background-size: 20px 20px;
}

#ajax_in_progress a {
	color: var(--warn);
}

/* -------------------------------------------------------
 *	$MAIN
 * -------------------------------------------------------
 */

/* The top bar. */
#top_section {
	border-top: none;
	border-bottom: none;
}

#top_section .wrapper {
	padding: 0 15px;
	border-right: 1px solid var(--primary_border);
	border-left: 1px solid var(--primary_border);
	background-color: var(--primary_white);
}

#search_form select {
	opacity: 0.8;
	border-color: var(--seconday_border);
}

#search_form select:focus {
	opacity: 1;
	border-color: var(--border_focus);
}

#search_form button {
	border-color: var(--primary_border);
}

#forumtitle {
	font-size: var(--font30);
	font-weight: bolder;
	padding: 0;
	text-shadow: 1px 1px 2px var(--primary_white);
}

#forumtitle > a {
	color: var(--title);
}

#siteslogan {
	margin-top: 0;
}

/* News section. */
#news {
	font-size: var(--font13);
	padding: 8px;
	border-color: var(--primary_border);
	background: var(--grey_background);
}

#news > h2 {
	font-size: var(--font21);
	font-weight: bold;
	line-height: 1.2em;
	color: var(--medium_dark_green);
}

#news_line, #news {
	color: var(--body_text);
}

#news_line .bbc_link, #elkFadeScroller .bbc_link {
	resize: none;
}

/* Main forum area. */
#wrapper {
	margin-top: 0;
	border: 1px solid var(--top_section_border);
	border-top: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background: var(--content_background);
}

#footer_section {
	text-align: center;
	color: var(--footer_text);
	border-top: 2px solid var(--footer_top_border);
	background-color: var(--primary_background);
}

#footer_section a {
	color: var(--primary_white);
}

#footer_section .rssfeeds {
	background-color: var(--primary_white);
	text-shadow: 1px 1px 0 var(--primary_background);
}

/* debug forum area. */
#debug_logging a, #debug_logging strong {
	color: var(--links);
}

#debug_logging {
	color: var(--footer_text);
	background: var(--primary_background);
}

#debug_logging_wrapper {
	background: var(--primary_background);
}

/* -------------------------------------------------------
 *	$MENUS
 * -------------------------------------------------------
 */

/* Level 1 Menu bar: link or button. General styling. */
.linklevel1, .linklevel1:link, .linklevel1:visited {
	font-size: var(--font13);
	color: var(--strong_text);
	border-color: var(--seconday_border);
	border-top-color: var(--seconday_border_top);
	border-left-color: var(--seconday_border_left);
	border-radius: 2px;
	background-image: linear-gradient(to bottom, var(--primary_white), var(--primary_white_compliment));
	box-shadow: 1px 1px 2px var(--box_shadow);
}

/* Level 1-2-3 button hover and focus effects, focus mainly for keyboard navigation */
.linklevel1:hover, .listlevel1:hover .linklevel1,
.linklevel1:focus, .listlevel1:focus .linklevel1,
.linklevel2:hover, .listlevel2:hover .linklevel2,
.linklevel2:focus, .listlevel2:focus .linklevel2,
.linklevel3:hover, .listlevel3:hover .linklevel3,
.linklevel3:focus, .listlevel3:focus .linklevel3,
#menu_sidebar .linklevel1:hover, #menu_sidebar .listlevel1:hover .linklevel1 {
	text-decoration: none;
	color: var(--menu_text);
	border-color: var(--primary_border);
	border-top-color: var(--seconday_border);
	border-left-color: var(--seconday_border);
	background: var(--grey_background);
	box-shadow: 2px 1px 1px var(--opacity10) inset;
}

/* Hide the top of menu triangle pointer */
.listlevel1.subsections::after {
	border-color: var(--transparent);
	background: var(--transparent);
}

/* Turn off several effects for a clean menu */
#main_menu .linklevel1, #main_menu .linklevel1:link, #main_menu .linklevel1:visited {
	border-color: var(--transparent);
	background-color: var(--transparent);
	background-image: none;
	box-shadow: none;
}

/* Level 1 Menu bar: link or button.
   There is a border here, to hide it use transparent color, not border none.
   A transparent border stops links jumping on hover. */
#main_menu .linklevel1, .admin_menu .linklevel1, #adm_submenus .linklevel1 {
	color: var(--primary_white_compliment);
	border-color: var(--transparent);
}

/* The next two defined our fixed always present top nav bar */
#menu_nav {
	position: fixed;
	z-index: 99;
	top: 0;
	width: 100%;
	min-height: 35px;
	padding: 0;
	transform: translateZ(0);
	color: var(--primary_white_compliment);
	background-image: linear-gradient(to bottom, var(--topnav_grad_1) 0%, var(--topnav_grad_2) 49%, var(--topnav_grad_2) 51%, var(--topnav_grad_1) 100%);
	backface-visibility: hidden;
}

#main_menu {
	margin: 0 auto;
	padding: 0 !important;
	border: none !important;
	background: transparent !important;
}

/* The icons used on wide screens) */
#main_menu .icon-menu {
	transform: translateY(-2px);
}

/* Override link colour for admin/profile/etc menus. */
.admin_menu .linklevel1, #adm_submenus .linklevel1 {
	color: var(--dark_text);
}

/* For primary admin/profile/etc drop menus. */
.admin_menu .linklevel1:hover, .admin_menu .linklevel1:focus,
/* For secondary admin/profile/etc menus. */
#adm_submenus .linklevel1:hover, #adm_submenus .linklevel1:focus {
	text-decoration: none;
	color: var(--hover_text);
}

/* Level 1 active buttons for primary admin/profile/etc drop menus... */
.admin_menu .active,
	/* ......and for secondary admin/profile/etc menu strip. */
#adm_submenus .active {
	color: var(--primary_white);
	border-color: var(--seconday_border);
	background-image: linear-gradient(to bottom, var(--menu_button_active), var(--menu_button_active_2));
}

/* Hover effects for those buttons. */
.admin_menu .active:hover, .admin_menu .listlevel1:hover .active, #adm_submenus .active:hover {
	color: var(--primary_white);
	border-color: var(--menu_border);
	background-image: linear-gradient(to bottom, var(--menu_button_active_hover), var(--menu_button_active_hover_2));
}

/* Level 1 active buttons get a bit more weight. */
a.active {
	color: var(--indicator);
}

/* Top level subsection indicators. */
.pm_indicator {
	font-size: var(--font12);
	font-weight: bold;
	position: relative;
	top: -7px;
	left: -1px;
	float: none;
	padding: 0 .25em;
	color: var(--primary_white);
	border-color: var(--transparent);
	border-radius: 4px;
	background: var(--indicator);
	box-shadow: 1px 1px 2px var(--primary_background);
}

.likes_indicator {
	color: var(--primary_white);
	border-color: var(--transparent);
	border-radius: 4px;
	background: var(--indicator);
	box-shadow: 1px 1px 2px var(--primary_background);
}

.linklevel1:hover .pm_indicator {
	border-color: var(--transparent);
}

/* Level 1: subsection indicators. */
#menu_sidebar .listlevel1.subsections .linklevel1::after {
	font-size: 1em;
	position: absolute;
	right: 6px;
	content: "\25BA";
}

#main_menu .subsections .linklevel1::after, #main_menu .subsections:hover .linklevel1::after {
	border-top-color: var(--title);
}

/* Levels 2 and 3: drop menu wrapper. */
.menulevel2, .menulevel3 {
	border-color: var(--seconday_border);
	background: var(--primary_white);
	box-shadow: 1px 2px 4px var(--box_shadow);
}

/* Levels 2 and 3 drop menus: link or button. */
.linklevel2, .linklevel3 {
	font-size: var(--font14);
	color: black;
	border-color: var(--transparent);
	/* Applying a default transparent border stops links jumping on hover. */
}

/* Levels 2 and 3: hover effects. */
.listlevel2:hover .linklevel2, /* < highlighted with cursor over level 3. */
.linklevel2:hover, .linklevel2:focus, .linklevel2.sfhover:focus,
.linklevel3:hover, .linklevel3:focus, .linklevel3.sfhover:focus {
	text-decoration: none;
	color: var(--primary_white);
	background: var(--menu_hover_background);
}

/* Level 2: subsection indicators. */
.listlevel2.subsections .linklevel2::after {
	font-size: var(--font14);
	top: 5px;
	content: "\25BA";
	color: var(--footer_text);
}

/* Levels 2 and 3: highlighting of current section */
.linklevel2.chosen, .linklevel3.chosen {
	font-weight: bold;
}

.linklevel2:link, .linklevel2:visited, .linklevel3:link, .linklevel3:visited {
	border-color: var(--transparent);
}

/* Styles for sidebar menus.
   Same styling for Level 1 and Level 2. */
#menu_sidebar .linklevel1, #menu_sidebar .linklevel2 {
	color: var(--dark_text);
	border-color: var(--transparent);
}

#menu_sidebar .linklevel1:hover, #menu_sidebar .linklevel1:focus,
#menu_sidebar .linklevel1.chosen,
#menu_sidebar .linklevel2:hover, #menu_sidebar .linklevel2:focus {
	text-decoration: none;
	color: var(--dark_text);
	border-color: var(--dark_grey_background);
	background: var(--primary_white_compliment);
}

#menu_sidebar .linklevel1.chosen {
	font-weight: bold;
}

/* -------------------------------------------------------
 *	$LINKTREE / $BREADCRUMB
 * -------------------------------------------------------
 */

nav.breadcrumb {
	margin: 1em 0;
	border: 1px solid var(--primary_border);
	--arrow: 26px;
}

.breadcrumb .crumb:first-child {
	padding-left: 1.1em;
}

.breadcrumb .crumb {
	padding: 0 0.7em 0 1.5em;
	border-color: var(--transparent);
}

.breadcrumb .crumb:not(:last-child)::after {
	background-image: linear-gradient(45deg, var(--content_background) 0%, var(--content_background) 50%, var(--primary_white_compliment) 50%, var(--primary_white_compliment) 100%);
}

.breadcrumb .crumb > a > i.i-home {
	padding: 3px 0 0 0;
}

/* ---------------
 * $BUTTONS
 * This section contains code for the quickbuttons (quote, quick edit, etc)
 * and for the buttonlist class (reply, add poll, notify, etc).
 * These classes share some styling.
 * Declarations are amalgamated where styling is shared.
 * ---------------
 */

.buttonlist li a.linklevel1 {
	text-transform: none;
}

.buttonlist li {
	line-height: 1.8em;
}

.buttonlist li a {
	line-height: 1.8em;
}

.quickbuttons .linklevel1 {
	line-height: 1.8em;
}

/* -------------------------------------------------------
 *	$PAGELINKS
 * -------------------------------------------------------
 */

.selectbox, .pagelinks {
	color: var(--menu_text);
}

.pagelinks .navPages {
	margin: 0 2px;
	color: var(--menu_text);
}

.pagelinks .navPages:hover, .pagelinks .current_page {
	text-decoration: none;
	color: white;
	background: var(--menu_hover_background);
}

.pagelinks .navPages, .pagelinks .current_page {
	border-color: var(--transparent);
	border-radius: 8px;
}

/* our buddies &laquo; &raquo; */
.small_pagelinks li:first-child::before, .small_pagelinks li:last-child::after {
	color: var(--strong_text)
}

/* Globally accessible top/bottom links. */
#gotop, #gobottom {
	opacity: 0.2;
	color: var(--primary_white_compliment);
	border-color: var(--dark_grey_background);
	background: var(--primary_background);
}

#gotop:hover, #gobottom:hover {
	opacity: .6;
	color: var(--primary_white);
}

/* Skip navigation link. */
#top {
	border-color: var(--title);
	background: var(--primary_white);
}

#top:focus {
	top: 0;
}

/* -------------------------------------------------------
 *	$TABLES
 * -------------------------------------------------------
 */

.table_grid {
	border-color: var(--transparent);
}

.table_head > th {
	border-top-color: var(--transparent);
	border-bottom-color: var(--transparent);
}

.table_grid td {
	border-color: var(--primary_border);
}

/* Legacy highlight color, for selected membergroups etc.
   Used by JS to show a selected item. Still used in manage languages */

.table_grid .standard_row.highlight2 {
	color: var(--strong_text);
	background: var(--primary_white_compliment);
}

.table_grid .standard_row {
	background: var(--primary_white);
}

/* ---------------
 * $SETTINGS
 * ---------------
 */

/* -------------------------------------------------------
 * $BOARDS
 * -------------------------------------------------------
 */

.category_boards .board_row {
	grid-template-columns: [bicon] 85px [info] auto [stats] minmax(80px, 125px) [avatar] 65px [latest] 32% [end];
}

.board_latest {
	border-left-color: var(--transparent);
}

.board_name > a {
	font-size: var(--font18);
	font-weight: bold;
	color: var(--title);
}

.board_row,
.board_avatar,
.childboard_row,
.forumposts > li,
.content_category > div,
.content_category > li {
	border-color: var(--transparent);
}

.board_row {
	border-bottom-color: var(--seconday_border);
}

.board_stats {
	text-align: left;
}

.board_avatar {
	padding-top: 0;
}

.childboards {
	border-top-color: var(--primary_border);
}

#upshrinkHeaderIC .basic_row {
	border-color: var(--transparent);
	border-bottom-color: var(--primary_border_bottom);
}

.ic_section_header {
	border-bottom: none;
}

#ic_recentposts td, #ps_recentposts td, #ps_recenttopics td {
	border-top-color: var(--transparent);
}

/* -------------------------------------------------------
 *	$MESSAGE ... Styles for the message (topic) index.
 * -------------------------------------------------------
 */

.topic_name h4 a {
	color: var(--title);
}

.topic_listing .warningbox {
	margin-bottom: 6px;
}

.qaction_row {
	background: var(--primary_white);
}

.approvetopic_row, .approve_row {
	background: var(--notice);
}

.sticky_row, .locked_row.sticky_row {
	background: var(--sticky_row);
}

.locked_row {
	background: var(--locked_row);
}

#topic_icons {
	border-color: var(--seconday_border);
}

#description_board .generalinfo, #forumposts .generalinfo {
	border-color: var(--transparent);
}

.topic_listing > li, .search_results_posts > li {
	border-color: var(--transparent);
}

.topic_listing li, .search_results_posts li {
	border-top-color: var(--primary_border_top);
	border-bottom-color: var(--primary_border_bottom);
}

.topic_listing li.sticky_row {
	border-bottom-color: var(--primary_border_bottom)
}

.post_wrapper {
	border-color: var(--seconday_border_top);
	border-radius: 10px;
}

.small_pagelinks li {
	border: none;
}

/* We need an offset for some of our anchors due to the fixed top navigation */
.post_anchor, .pm_anchor, #new {
	display: block;
	visibility: hidden;
	margin-top: -45px;
	padding-top: 45px;
}

/* Poor Man lightbox support */
#elk_lightbox {
	background: var(--opacity50);
}

#elk_lb_content.expand {
	border-color: var(--primary_white);
}

#elk_lb_expand, #elk_lb_next, #elk_lb_prev {
	border-color: var(--primary_border);
	background: var(--primary_background);
}

#elk_lb_expand::before, #elk_lb_next::before, #elk_lb_prev::before {
	color: var(--primary_white_compliment);
}

#pages_scroll_left, #pages_scroll_right {
	background-color: var(--primary_white);
}

#sort_by {
	border-color: var(--primary_border_top);
	border-bottom: none;
	background-color: var(--content_background);
}

#sort_by.topic_sorting_recent {
	border-color: var(--seconday_border);
}

#sort_by .topic_sorting_row:hover .i-last::before, #sort_by .topic_sorting_row:hover .i-last_post::before {
	opacity: 0;
}

/* -------------------------------------------------------
 *	$TOPICS
 * -------------------------------------------------------
 */

.modified {
	color: var(--strong_text);
}

.views_text {
	display: none;
}

.messageContent {
	border: none;
}

#forumposts > div.forumposts, #recentposts > div.forumposts {
	border-color: var(--transparent);
}

.content_noframe {
	box-shadow: none;
}

.forumposts, .profile_content {
	background: var(--grey_background);
}

.forumposts:nth-of-type(even) {
	margin-top: 2px;
	background: var(--mid_grey_background);
}

.forumposts:nth-of-type(odd) {
	margin-top: 2px;
	background: var(--grey_background);
}

.approvebg, .forumposts.approvebg {
	background-color: var(--notice);
}

.new_post_separator::after {
	border-color: var(--primary_white) var(--transparent);
}

.new_post_separator::before {
	border-color: var(--seconday_border_bottom) var(--transparent);
}

/* Poll results */
#poll_options .options .statsbar .bar {
	border-radius: 4px;
}

#poll_options .options .percentage {
	border-radius: 4px;
	background: var(--content_background);
}

.topic_details {
	border-bottom-color: var(--primary_border_bottom);
}

/* Drop menu for the poster info. */
.poster .pm_indicator:hover {
	border-color: var(--transparent);
}

.poster li.listlevel1, .poster li.listlevel1:hover,
.poster li.listlevel1 a, .poster li.listlevel1 a:hover {
	text-decoration: none;
	border-color: var(--transparent);
	background-color: var(--transparent);
	background-image: none;
	box-shadow: none;
}

.poster .name {
	color: var(--topic_name);
}

.poster:hover a.name {
	text-decoration: none;
}

.poster .listlevel1 a.linklevel1 {
	font-size: var(--font14);
}

.report_separator {
	border-bottom-color: var(--primary_border_bottom);
}

.poster li.poster_online:hover .linklevel1 {
	color: var(--menu_text);
	border-color: var(--primary_border);
	border-top-color: var(--seconday_border);
	border-left-color: var(--seconday_border);
	background: var(--mid_grey_background);
	box-shadow: 2px 1px 1px var(--opacity10) inset;
}

.poster li.poster_online .nolink {
	color: var(--user_highlight);
	border-color: var(--seconday_border);
	border-top-color: var(--seconday_border_top);
	border-left-color: var(--seconday_border_left);
	background-image: linear-gradient(to bottom, var(--primary_white), var(--primary_white_compliment));
	box-shadow: 1px 1px 2px var(--box_shadow);
}

.poster li.subsections.listlevel1:hover .linklevel1 {
	background: var(--transparent);
	box-shadow: none;
}

.poster .listlevel1:hover .linklevel1, .poster .listlevel2:hover .linklevel2 {
	border-color: var(--transparent);
	background: var(--transparent);
	box-shadow: none;
}

.poster .listlevel2:hover .linklevel2 {
	color: var(--links);
}

/* The next 2 adjust the poster flyout position */
.poster li.listlevel1.subsections {
	width: 100%;
}

.poster .menulevel2 {
	top: calc(100% - 2px);
}

/* Disclose V arrow after the name */
.poster .subsections > a::after, .poster .subsections:hover > .name.linklevel1::after {
	font-size: var(--font16);
	margin: 0 0 0 .8em;
	content: "\25BC";
	color: var(--footer_text);
}

.poster .linklevel2, .poster .linklevel2:hover {
	border: 1px solid transparent !important;
}

/* Reply # */
.keyinfo h5 a, .keyinfo h5 a strong {
	color: var(--topic_name);
}

/* The icon selection dropdown you get by clicking on the icon in message view */
.keyinfo .messageicon .dropdown {
	border-color: var(--transparent);
	background: var(--transparent);
}

.keyinfo .messageicon .dropdown:hover {
	background: var(--transparent);
}

/* This div and items are added by javascript for the icon selection */
#iconList {
	border-color: #ADADAD;
	background: var(--content-background);
}

#iconList > .messageIcon {
	border-color: var(--content-background);
}

#iconList > .messageIcon:hover {
	border-color: var(--menu_border_hover);
	background: var(--menu_hover_background);
}

/* All the signatures used in the forum. */
.signature, .attachments, .custom_fields_above_signature {
	border-top-color: var(--primary_border_top);
}

.signature {
	opacity: 0.9;
}

/* attachment details below thumbnails */
.attachment_name, .attachment_details {
	color: var(--body_text) !important;
	border: solid 1px var(--seconday_border);
}

.attachment_name {
	border-bottom: none;
	border-radius: 4px 4px 0 0;
}

.attachment_details {
	border-top: none;
	border-radius: 0 0 4px 4px;
}

.generic_border .attachment_name {
	border: 1px solid var(--transparent);
}

/* -------------------------------------------------------
 *	$EDITOR
 * -------------------------------------------------------
 */

.editor_wrapper {
	width: 60em;
	margin: 0 auto;
}

.drop_area {
	color: var(--hover_text);
	border-color: var(--primary_border);
	border-radius: 5px;
	background-color: var(--content_background);
}

.statusbar {
	border-top-color: var(--status_bar_border);
	border-bottom-color: var(--status_bar_border);
	background: var(--grey_background);
}

.statusbar .insertoverlay {
	border-color: var(--status_bar_border);
	background-color: var(--content_background);
}

.insertoverlay .tabs li {
	border-color: var(--pure_green);
}

.insertoverlay .tabs li.active {
	background-color: var(--mid_grey_background);
}

.statusbar .insertoverlay .button {
	color: var(--content_background);
	background: var(--pure_green);
}

.progressBar {
	border-color: var(--primary_border);
}

.progressBar div {
	color: var(--primary_white);
	background-color: var(--links);
}

.abort {
	border: 2px solid var(--alert);
}

.ila_container {
	border-color: var(--seconday_border);
	border-top-color: var(--seconday_border_top);
	border-left-color: var(--seconday_border_left);
	background-image: linear-gradient(to bottom, var(--primary_white), var(--primary_white_compliment));
	box-shadow: 1px 1px 2px var(--box_shadow);
}

.ila_container:hover {
	border-color: var(--transparent);
	background: var(--transparent);
	box-shadow: none;
}

.drop_attachments_error {
	color: var(--alert);
}

#preview_body {
	border-color: var(--transparent);
}

#postAdditionalOptions, #postDraftOptions {
	border-color: var(--transparent);
}

#postAdditionalOptionsNC {
	border-color: var(--transparent);
}

#postDraftOptions .settings dd, #postDraftOptions .settings dt {
	border-color: var(--transparent);
}

/* -------------------------------------------------------
 * $TABS
 * -------------------------------------------------------
 */

#tabs .profile_content {
	padding-top: 8px;
}

.ui-tabs .ui-tabs-panel {
	padding: 0 !important;
	border-color: var(--transparent);
}

.ui-tabs .ui-tabs-nav li {
	color: var(--primary_white);
	border-color: var(--primary_border) !important;
	border-bottom: none;
	box-shadow: 1px -1px 1px var(--opacity30);
}

.ui-tabs .ui-tabs-nav .ui-state-active a,
.ui-tabs .ui-tabs-nav .ui-state-active {
	font-weight: normal;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	border-bottom-color: var(--primary_border_bottom);
	background: var(--content_background);
}

.ui-tabs .ui-tabs-nav .ui-state-default .ui-tabs-anchor {
	color: var(--menu_text);
	background: var(--primary_white);
}

.ui-tabs .ui-tabs-nav .ui-state-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav .ui-state-active {
	border-color: var(--menu_button_active_2);
	border-bottom-color: var(--primary_border);
	background: var(--menu_button_active);
}

.ui-tabs .ui-tabs-nav li.ui-state-hover .ui-tabs-anchor, li.ui-state-hover {
	text-decoration: none;
	color: var(--menu_text);
	border-color: transparent;
	background: var(--primary_white_compliment);
}

#ourAnnouncements dt, #ourAnnouncements dd {
	border-top-color: var(--primary_border_top) !important;
}

/* -------------------------------------------------------
 *	$PROFILE
 * -------------------------------------------------------
 */

.generic_border {
	border-color: var(--primary_border);
}

#warndiv .ui-widget-header {
	background: var(--transparent);
}

#warndiv .watched .ui-widget-header {
	background: var(--pure_green);
}

#warndiv .moderated .ui-widget-header {
	background: var(--warn);
}

#warndiv .muted .ui-widget-header {
	background: var(--attention)
}

/* Profile colors */
.activity_stats li span {
	border-color: var(--seconday_border_bottom);
	border-right-style: none;
	border-left-style: none;
	background: var(--mid_grey_background);
}

.activity_stats li .bar {
	border-color: var(--primary_border);
	border-bottom: none;
	background: var(--content_background);
}

.activity_stats li .bar div {
	background: var(--progress_bar_blue);
}

/* -------------------------------------------------------
 *	$CALENDAR
 * -------------------------------------------------------
 */

.birthday {
	color: var(--birthday);
}

.event {
	color: var(--pure_green);
}

.holiday {
	color: var(--holiday);
}

.calendar_table {
	border-top-color: var(--transparent);
}

#calendar_navigation {
	border-color: var(--transparent);
}

.calendar_table th, .calendar_table td {
	background: var(--primary_white);
}

.weeklist {
	background: var(--mid_grey_background);
}

.weeklist > li {
	border-color: var(--transparent);
	background: var(--content_background);
}

#main_grid td.days, .calendar_table td.days, .weeklist h4 {
	background: var(--grey_background);
}

/* Used to indicate the current day. */
#main_grid .calendar_today, #month_grid .calendar_today {
	border-color: var(--seconday_border);
	background: var(--currentday);
}

#main_grid td.calendar_today, .calendar_table td.calendar_today {
	background: var(--currentday);
}

/* -------------------------------------------------------
 *	$STATISTICS
 * -------------------------------------------------------
 */

.statistics .category_header {
	border-color: var(--primary_border);
	background: none;
	text-shadow: none;
}

.statistics .flow_hidden, #forum_history .flow_hidden {
	border-color: var(--transparent);
	background: var(--content_background);
}

.stats.floatleft {
	border-right-color: var(--primary_border);
}

#top_row .stats dd, .statsbar {
	border-color: var(--seconday_border);
	background: var(--content_background);
}

#top_row .stats dd {
	border: 1px solid transparent;
	background: none;
}

.statsbar {
	border-radius: 4px;
}

.statsbar .bar {
	border-radius: 4px 0 0 4px;
	background: var(--progress_bar_blue);
}

.statsbar .righttext {
	background: var(--content_background);
}

/* -------------------------------------------------------
 *	$HELP
 * -------------------------------------------------------
 */

#helpmain {
	border-color: var(--primary_border);
	box-shadow: 0 -2px 2px var(--opacity10);
}

/* Styles for the tooltips. */
.tooltip {
	border-color: var(--seconday_border);
	background: var(--content_background);
	box-shadow: 3px 3px 3px var(--opacity30);
}

/* The darkened background for help pop-ups. */
.popup_container {
	background: var(--opacity40);
}

/* The actual pop-up wrapper. */
.popup_window {
	border-color: var(--primary_border);
	border-radius: 7px 7px 3px 3px;
	background-color: var(--content_background);
	box-shadow: 0 4px 6px var(--opacity50);
}

/* The text content, hopefully helpful. */
.popup_content {
	border-color: var(--seconday_border);
	border-radius: 6px 6px 2px 2px;
	background: var(--content_background);
	box-shadow: 0 -2px 3px var(--opacity20);
}

/* -------------------------------------------------------
 *	$SEARCH
 * -------------------------------------------------------
 */

#mlsearch_options {
	background-color: var(--content_background);
}

.search_results_posts > li:not(:last-child) {
	border-bottom-color: var(--primary_border_bottom);
}

.ignoreboards a {
	border-bottom-color: var(--transparent);
}

/* -------------------------------------------------------
 *	$MEMBERLIST
 * -------------------------------------------------------
 */

.mlist .mlist_header div {
	border-top-color: var(--primary_border)
}

.mlist li div, .whos_online dt div, .whos_online dd:nth-child(odd) div {
	border-top-color: var(--primary_border);
	border-bottom-color: var(--primary_border);
	background-color: var(--content_background);
}

.mlist li.alternate_row div, .whos_online dd:nth-child(even) div {
	border-top-color: var(--primary_border);
	border-bottom-color: var(--primary_border);
	background-color: var(--grey_background);
}

.mlist li div:first-child {
	border-top-color: var(--primary_border);
	border-left-color: var(--primary_border);
}

.mlist li div:last-child {
	border-top-color: var(--primary_border);
	border-right-color: var(--primary_border);
}

.letter_row > h3 {
	border-color: var(--primary_border);
	border-bottom: none;
}

/* ---------------
 *	$LOGIN
 * ---------------
 */

.coppa_contact {
	color: var(--body_text);
	border-color: var(--body_text);
	background: var(--primary_white);
}

.valid_input {
	background: var(--valid);
}

.invalid_input {
	background: var(--invalid);
}

.check_input {
	border-color: var(--warn);
}

/* -------------------------------------------------------
 *	$BOXES
 * -------------------------------------------------------
 */

/* Information boxes. */
.description, .information {
	border-color: var(--primary_border);
	background: var(--primary_white);
}

.information {
	background: var(--information);
}

/* More boxes, although SVG they have embedded color so they are here */
.warningbox, .successbox, .infobox, .errorbox {
	padding: .75em 2.75em;
	border-color: var(--primary_border);
	border-left-width: 5px;
}

.warningbox {
	border-top-color: var(--warn);
	border-bottom-color: var(--warn);
	background-color: var(--notice);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFA500' viewBox='0 0 31 36'%3E%3Cpath d='M15.429 2.571c8.518 0 15.429 6.911 15.429 15.429s-6.911 15.429-15.429 15.429S0 26.518 0 18 6.911 2.571 15.429 2.571zM18 27.623v-3.817c0-.362-.281-.663-.623-.663H13.52a.668.668 0 00-.663.663v3.817c0 .362.301.663.663.663h3.857c.342 0 .623-.301.623-.663zm-.04-6.911l.362-12.475a.403.403 0 00-.201-.362.776.776 0 00-.482-.161h-4.42a.768.768 0 00-.482.161.402.402 0 00-.201.362l.342 12.475c0 .281.301.502.683.502h3.717c.362 0 .663-.221.683-.502z'/%3E%3C/svg%3E");
}

.successbox {
	border-top-color: var(--pure_green);
	border-bottom-color: var(--pure_green);
	background-color: var(--successbox);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23008000' viewBox='0 0 32 32'%3E%3Cpath d='M27 4L12 19l-7-7-5 5 12 12L32 9z'/%3E%3C/svg%3E");
}

.infobox {
	border-top-color: var(--infobox_border);
	border-bottom-color: var(--infobox_border);
	background-color: var(--infobox);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='%233A87AD' stroke-width='.07em' fill='%230080FF' viewBox='-1 0 33 33'%3E%3Cpath d='M17 0l-3 3 3 3-7 8H3l5.5 5.5L0 30.77V32h1.23l11.27-8.5L18 29v-7l8-7 3 3 3-3L17 0zm-3 17l-2-2 7-7 2 2-7 7z'/%3E%3C/svg%3E");
}

.errorbox {
	border-top-color: var(--attention);
	border-bottom-color: var(--attention);
	background-color: var(--invalid);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23A80000' viewBox='0 0 31 36'%3E%3Cpath d='M15.429 2.571c8.518 0 15.429 6.911 15.429 15.429s-6.911 15.429-15.429 15.429S0 26.518 0 18 6.911 2.571 15.429 2.571zM18 27.623v-3.817c0-.362-.281-.663-.623-.663H13.52a.668.668 0 00-.663.663v3.817c0 .362.301.663.663.663h3.857c.342 0 .623-.301.623-.663zm-.04-6.911l.362-12.475a.403.403 0 00-.201-.362.776.776 0 00-.482-.161h-4.42a.768.768 0 00-.482.161.402.402 0 00-.201.362l.342 12.475c0 .281.301.502.683.502h3.717c.362 0 .663-.221.683-.502z'/%3E%3C/svg%3E");
}

/* -------------------------------------------------------
 *	$PROGRESS
 * -------------------------------------------------------
 */

.progress_bar {
	border-color: var(--seconday_border);
	background: var(--primary_white);
	box-shadow: inset 0 1px 1px var(--opacity10);
}

.progress_bar > .green_percent {
	background-color: var(--pure_green);
}

.progress_bar > .blue_percent {
	background-color: var(--progress_bar_blue);
}

/* -------------------------------------------------------
 *	$ICONS
 * -------------------------------------------------------
 *
 * Icons. The color file is the place for this since we
 * can't style embedded material.
 *
 * -------------------------------------------------------
 */

.warnicon {
	border-color: var(--warn);
}

.iconline {
	border-color: var(--medium_dark_green);
	background-image: linear-gradient(to bottom, var(--icon_online_grad) 0%, var(--medium_dark_green) 50%, var(--icon_online_grad) 100%);
}

.icoffline {
	border-color: var(--primary_border);
	background-image: linear-gradient(to bottom, var(--mid_grey_background) 0%, var(--dark_grey_background) 50%, var(--mid_grey_background) 100%);
}

/* -------------------------------------------------------
 *	$MEDIA
 * -------------------------------------------------------
 *
 * NOTE:
 * When setting break points for media queries, don't set them in pixels.
 * Use em instead.
 * Why? Because the point of re-stacking/dropping content is to fit it all
 * in the available space. This is dependent not just on width in pixels,
 * but also on the user-selected text size that is set in the browser.
 *
 * If, for whatever reason (eyesight, pixel pitch, workstation arrangement, etc)
 * a user requires text 50% larger than theme default, then their screen is
 * effectively a lot smaller than its nominal resolution would indicate.
 * If the break points are set in em, suddenly the media queries become equally
 * responsive for all users, without any extra code being required.
 *
 * Testing em break points is just as easy as testing pixels,
 * and it will make more people happier. This is cool. :)
 *
 * Of course, having comments to map em to px for each query is a good idea too.
 */

/* This one does 1024 screens at default font size.
   -------------------------------------------------------------------------------------------*/

@media screen and (max-width: 64em) {
	.category_boards .board_row {
		grid-template-columns: [bicon] 85px [info] auto [avatar] 65px [latest] 40% [end];
	}

	.icon_anchor {
		min-width: 0;
	}
}

/* 880px seems best to switch between text and icons for this variant, normally this is
   done at 800px, so we have to copy the index.css code to this media query */

@media screen and (max-width: 55em) {
	#main_menu .icon-menu {
		margin: 0.05em .25em;
		transform: translateY(0px);
	}

	/* menu to icons */
	#main_menu .icon-menu, #main_menu .icon-menu.i-menu-profile {
		display: inline-block;
		width: 45px;
		height: 45px;
		margin: .05em;
		padding: .35em;
		border: 4px solid;
		border-radius: .25em;
	}

	.i-menu-profile::before {
		width: 36px;
		height: 36px;
		transform: translate(-3px, -5px);
	}

	#main_menu .subsections .linklevel1::after, #main_menu .subsections:hover .linklevel1::after {
		display: none;
	}

	#main_menu .linklevel1.active .icon-menu {
		border-color: var(--title);
	}

	#main_menu .linklevel1 .icon-menu:hover {
		background: var(--content_background);
	}

	#collapse_button {
		margin-top: -10px;
	}

	.button_title {
		display: none;
	}

	.wrapper {
		width: 95% !important;
	}
}

/* This one does 800 screens at default font size.
   -------------------------------------------------------------------------------------------*/

@media screen and (max-width: 50em) {
	#forumtitle {
		font-size: var(--font24);
		padding: .7em 0;
	}

	.pagelinks {
		padding-bottom: .7em;
	}

	body {
		margin-top: 1.25em;
	}

	.category_boards .board_row {
		grid-template-columns: [bicon] 50px [info] auto [latest] 55% [end];
	}

	#menu_sidebar {
		border-color: var(--seconday_border);
		background: var(--content_background);
		box-shadow: 3px 3px 3px var(--opacity30);
	}

	.statistics .flow_hidden, .statistics .floatleft {
		border-color: var(--transparent);
	}

	.statistics .category_header {
		border-color: var(--transparent);
		border-bottom-color: var(--primary_border_bottom);
		border-radius: 0;
		background-color: var(--category_header_grad_4);
	}

	.mlist li div.posts {
		border-right-color: var(--primary_border);
	}
}

/* This one does up to 540 screens.
   -------------------------------------------------------------------------------------------*/

@media screen and (max-width: 33.750em) {
	#main_menu {
		justify-content: start;
	}

	#gotop, #gobottom {
		padding: 0.8em .1em .4em .1em;
	}

	.board_latest {
		border-left: 0;
	}

	.board_row, .childboard_row {
		border-color: var(--primary_border);
		background-color: var(--content_background);
		box-shadow: 1px 1px 3px var(--box_shadow);
	}

	dd.statsbar {
		padding: 0 !important;
	}

	.frame {
		border-radius: 0;
	}

	.topic_listing > li, .search_results_posts > li {
		border-color: var(--primary_border);
		border-radius: 3px;
		box-shadow: 2px 2px 4px var(--box_shadow);
	}

	.topic_name {
		border-bottom: 1px solid var(--primary_border_bottom);
	}

	.topic_listing h4, .search_results_posts h4 {
		overflow: hidden;
		max-width: 20em;
		margin-bottom: 3px;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.topic_listing li.sticky_row {
		border-bottom: 1px solid #CCCCCC;
	}

	.basic_row {
		background-color: #FAFAFA;
	}

	.topic_starter {
		color: var(--strong_text);
	}

	.topic_sorting_row {
		border: none !important;
	}

	.topic_name h4 {
		font-size: var(--font19);
		padding-bottom: .1em;
	}

	.poster .subsections > a::after {
		content: "";
	}

	.board_icon {
		width: 25px;
		height: 25px;
		transform: translateY(-2px);
	}

	.forum_category, .forumposts, .content_category {
		border: none;
		background: var(--content_background);
	}

	.poster .subsections > a::after, .poster .subsections:hover > .name.linklevel1::after,
	.listlevel2.subsections .linklevel2::after {
		content: "";
	}

	.stats.floatleft {
		border: none;
	}

	#top_section {
		width: 100%;
		margin: 0;
	}

	#top_section .wrapper {
		width: 100%;
		padding: 0;
	}

	nav.breadcrumb {
		margin: .25em 0;
	}

	#search_form {
		justify-content: center;
		width: 100%;
		padding: .25em 0;
		border-bottom: 1px solid var(--primary_border);
	}

	#search_form .input_text {
		float: none;
		width: 200px;
	}

	#search_form button, #search_form input, #search_form label {
		float: none;
	}

	.whos_online dd div {
		border-top: none !important;
		border-bottom: none !important;
	}

	.whos_online dd:nth-child(even), .whos_online dd:nth-child(odd) {
		border-top: 1px solid var(--primary_border_top);
	}

	.whos_online dd:last-child {
		border-bottom: 1px solid var(--primary_border_bottom);
	}
}

/* This one does 480px screens at default font size.
   -------------------------------------------------------------------------------------------*/

@media screen and (max-width: 30em) {
	.mlist li .group {
		border-right-color: var(--primary_border);
	}
}
